<header class="header-content">
    <section class="information">
      <h1>{{asociacion?.nombre}}</h1>
      <h4 class="nit">NIT: {{asociacion?.nit}}</h4>
    </section>
  </header>
  <main>
    <section class="nav-container">
      <div class="container-fluid nav">
        <div class="col-md-6">
            <h4><b>Nombre de contacto:</b> {{asociacion?.nombreContacto}}</h4>
        </div>
        <div class="col-md-6">
            <h4><b>Número de contacto:</b> {{asociacion?.numeroContacto}}</h4>
        </div>
      </div>
    </section>
  </main>
  <footer class="text-center text-white">
    <div class="text-center p-3">
        <p >© 2021 Copyright: ArquiSW</p>
    </div>
  </footer>
