<header class="header-content">
  <section class="information">
    <h1>{{asociacion?.nombre}}</h1>
    <h4 class="nit">NIT: {{asociacion?.nit}}</h4>
  </section>
</header>
<main>
  <section class="nav-container">
    <div class="container-fluid nav">
      <div class="col-md-6">
        <p><b>Nombre del Contacto:</b> {{asociacion?.nombreContacto}}</p>
      </div>
      <div class="col-md-6">
        <p><b>Número del Contacto:</b> {{asociacion?.numeroContacto}}</p>
      </div>
    </div>
  </section>
</main>
