*
{
  font-weight: var(--medium);
}

.nav-link, .nav-item button, .modal-title
{
  font-size: 1.6rem;
}

.nav-link {
  color: var(--just-white)
}

.navbar .nav-link.active {
  color: var(--uco-green);
}

img
{
  display: block;
  margin: 0px auto;
  width: 45px;
  height: 45px;
}

li
{
  margin-right: 15px;
}

.modal-title
{
  font-size: 1.8rem;
}

.modal-body{
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--just-white);
}

.modal-header {
  background-color: var(--background-color);
}

.modal-title {
  font-size: 1.8rem;
  color: var(--just-white);
}

.modal-body select, label
{
  font-size: 1.4rem;
}

.form-control
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-content p
{
  text-align:center;
  font-size: 1.4rem;
}

.alert
{
  font-size: 1.4rem;
}

.btn
{
  font-size: 1.6rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.opciones {
  position: absolute;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown.dropdown-reverse .opciones {
  right: auto !important;
  left: 0 !important;
}

.dropdown.dropdown-reverse .opciones {
  right: 0 !important;
  left: auto !important;
}

.dropdown-item {
  color: var(--just-white);
}

a {
  padding: 10px;
  cursor: pointer;
}

.form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-color);
  color: var(--just-white);
}

.form-control:placeholder-shown {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-color);
  color: var(--just-white);
}

.form-control {
  font-size: 1.4rem;
}

.form-floating label {
  font-size: 1.4rem;
}

.btn {
  font-size: 1.6rem;
}

.update-form h1 {
  font-size: 3.5rem;
}

.navbar {
  background-color: var(--background-color);
}

input {
  background-color: var(--background-color);
  color: var(--just-white);
}

label {
  color: var(--just-white);
}

/* Estilos para centrar las acciones del menú desplegable en dispositivos móviles */
@media (max-width: 767px) {
  .navbar-nav .dropdown-menu {
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    text-align: center;
  }
}
