<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo-arquisw.png" alt="Imagen del Logo de ArquiSW"></a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ArquiSW</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" *ngFor="let item of standarItems">
            <a class="nav-link" [routerLink]="item.url" routerLinkActive="active" (click)="cerrarMenuDeplegable()">{{item.nombre}}</a>
          </li>
          <li class="nav-item" *ngIf="!inicioSesion">
            <button type="button" class="btn btn-success" (click)="open()">Iniciar Sesión</button>
          </li>
          <li class="nav-item" *ngIf="inicioSesion">
            <div class="dropdown dropdown-reverse">
              <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" (click)="menuUsuario()">
                {{persona?.nombre}}
              </a>
              <div class="opciones" *ngIf="estaAbierto">
                <a class="dropdown-item" (click)="abrirPerfil()">Mi Perfil</a>
                <a class="dropdown-item" *ngIf="tieneAsociacion" (click)="abrirAsociacion()">Mi Empresa ó Asociación</a>
                <a class="dropdown-item" *ngIf="administrador" [routerLink]="['/panel-administrador']" (click)="cerrarMenuDeplegable()">Panel de Administrador</a>
                <a class="dropdown-item" *ngIf="!tieneAsociacion && !administrador && !estaPostulado && !estaSeleccionado" (click)="openModalAsociacion()">Registrar Empresa ó Asociación</a>
                <a class="dropdown-item" [routerLink]="['/configuracion']" (click)="cerrarMenuDeplegable()">{{configuracionMenu?.nombre}}</a>
                <a class="dropdown-item" (click)="openLogOut()">Cerrar Sesión</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm">
        <div class="form-floating mb-3">
          <input type="correo" class="form-control"
            id="correoLogin" placeholder="nombre@ejemplo.com" formControlName="correoLogin" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="claveLogin" placeholder="contraseña" formControlName="claveLogin"
            required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div *ngIf="loginError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success" (click)="onLogin()">
                Iniciar Sesión

                <div *ngIf="estaCargandoLogin" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <br>
        <p>
          ¿No tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#signin"
            data-bs-dismiss="modal">Regístrate gratis</a> <br>
          <a [routerLink]="recuperarClaveMenu.url" (click)="onRecuperarClave()">¿Olvidaste tu contraseña?</a>
        </p>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrarse</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="registroForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nombre"
            placeholder="nombre" formControlName="nombreRegistro" required>
          <label for="floatingInput">Nombres</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="apellidos"
            placeholder="apellidos" formControlName="apellidosRegistro" required>
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="correo"
            placeholder="correo@ejemplo.com" formControlName="correoRegistro" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="clave"
          placeholder="Contraseña" formControlName="claveRegistro" required>
          <label for="floatingInput">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control"
            id="confirmarClave" placeholder="Confirmar Contraseña" formControlName="confirmarClaveRegistro" required>
          <label for="floatingPassword">Confirmar Contraseña</label>
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success mt-3 btn-register"
                (click)="onClickRegister()">
                Registrarse

                <div *ngIf="estaCargandoRegistro" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="registroError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div *ngIf="registroExitoso" class="alert alert-success" role="alert">
          {{mensajeRegistro}}
        </div>
        <p style="text-align:center">
          ¿Ya tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
            data-bs-dismiss="modal">Inicia Sesion</a>
        </p>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registroAsociacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar asociación</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarRegistrarAsociacion()"></button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="registroAsociacionForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nombreAsociacion"
            placeholder="Nombre asociación" formControlName="nombreAsociacion" />
          <label for="floatingInput">Nombre de la asociación</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nit"
            placeholder="NIT" formControlName="nit" />
          <label for="floatingInput">NIT</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control custom-input" placement="bottom" type="number"
            placeholder="Núnmero contacto" formControlName="numeroContacto">
          <label for="floatingInput">Numero contacto</label>
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success mt-3 btn-register"
                (click)="registrarAsociacion()">
                Registrar

                <div *ngIf="estaCargandoRegistroAsociacion" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="registroError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div *ngIf="registroExitoso" class="alert alert-success" role="alert">
          {{mensajeAsociacion}}
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
