*
{
  font-weight: var(--medium);
}

nav {
  background-color: var(--background-color);
}

img
{
  display: block;
  margin: 0px auto;
  width: 45px;
  height: 45px;
}

ul {
  display: flex;
  align-items: center;
}

li
{
  margin-right: 10px;
}

.nav-link, .nav-item button, .modal-title
{
  font-size: 1.6rem;
}

.nav-link {
  color: var(--just-white)
}

.navbar .nav-link.active {
  color: var(--uco-green);
}

.modal-title
{
  font-size: 1.8rem;
}

.modal-body{
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--just-white);
}

.modal-header {
  background-color: var(--background-color);
}

.modal-title {
  font-size: 1.8rem;
  color: var(--just-white);
}

.modal-body select, label
{
  font-size: 1.4rem;
}

.form-control
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-content p
{
  text-align:center;
  font-size: 1.4rem;
}

.alert
{
  font-size: 1.4rem;
  margin-top: 10px;
}

.btn
{
  font-size: 1.6rem;
  background-color: var(--uco-green);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.opciones {
  position: absolute;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown.dropdown-reverse .opciones {
  right: auto !important;
  left: 0 !important;
}

.dropdown.dropdown-reverse .opciones {
  right: 0 !important;
  left: auto !important;
}

.dropdown-item {
  color: var(--just-white);
}

a {
  padding: 10px;
  cursor: pointer;
}

.form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control:placeholder-shown {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control {
  font-size: 1.4rem;
}

.form-floating label {
  font-size: 1.4rem;
}

.btn {
  font-size: 1.6rem;
}

.update-form h1 {
  font-size: 3.5rem;
}

.navbar {
  background-color: var(--background-color);
}

input {
  background-color: var(--background-clear-color);
  color: var(--black);
  border-color: var(--black);
}

label {
  color: var(--black);
}

@media(max-width: 991px) {
  .sidebar {
    background-color: var(--background-sidebar-color);
    backdrop-filter: blur(10px);
  }

  ul {
    display: flex;
    align-items: end;
  }

  ul li .btn {
    margin-right: 8px;
  }
}
