<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo-arquisw.png"
        alt="Imagen del Logo de ArquiSW"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of principalItems">
          <a class="nav-link active" aria-current="page" [routerLink]="item.url"
            routerLinkActive="active">{{item.nombre}}</a>
        </li>
        <li class="nav-item" *ngIf="!inicioSesion">
          <button type="button" class="btn btn-success" (click)="open()">Iniciar Sesión</button>
        </li>
        <li class="nav-item" *ngIf="inicioSesion">
          <div class="dropdown dropdown-reverse">
            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" (click)="menuUsuario()">
              {{usuario?.nombre}}
            </a>
            <div class="opciones" *ngIf="estaAbierto" >
              <a class="dropdown-item" routerLink="">Mi Perfil</a>
              <a class="dropdown-item" *ngIf="tieneAsociacion" [routerLink]="['/miAsociacion', id]" >Mi Empresao ó Asociación</a>
              <ng-container *ngIf="administrador">
                <a class="dropdown-item" *ngif="administrador">Panel de Administrador</a>
              </ng-container>
              <a class="dropdown-item" *ngIf="!tieneAsociacion" (click)="openModalAsociacion()">Registrar Empresa ó Asociacón</a>
              <a class="dropdown-item" [routerLink]="['/configuracion', id]">{{configuracionMenu.nombre}}</a>

              <a class="dropdown-item" (click)="openLogOut()">Cerrar Sesión</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm">
        <div class="form-floating mb-3">
          <input type="correo" class="form-control"
            id="correoLogin" placeholder="nombre@ejemplo.com" formControlName="correoLogin" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="claveLogin" placeholder="contraseña" formControlName="claveLogin"
            required>
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div *ngIf="loginError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success" (click)="onLogin()">Iniciar Sesión</button>
            </div>
          </div>
        </div>
        <br>
        <p>
          ¿No tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#signin"
            data-bs-dismiss="modal">Regístrate gratis</a> <br>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </p>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrarse</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="registroForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nombre"
            placeholder="nombre" formControlName="nombreRegistro" required>
          <label for="floatingInput">Nombres</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="apellidos"
            placeholder="apellidos" formControlName="apellidosRegistro" required>
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="correo"
            placeholder="correo@ejemplo.com" formControlName="correoRegistro" required>
          <label for="floatingInput">Correo Electronico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="clve"
             formControlName="claveRegistro" required>
          <label for="floatingInput">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control"
            id="confirmarClave" placeholder="confirmar contraseña" formControlName="confirmarClaveRegistro" required>
          <label for="floatingPassword">Confirmar Contraseña</label>
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success mt-3 btn-register"
                (click)="onClickRegister()">Registrarse</button> <br> <br>
            </div>
          </div>
        </div>
        <div *ngIf="registroError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div *ngIf="registroExitoso" class="alert alert-success" role="alert">
          {{mensajeRegistro}}
        </div>
        <p style="text-align:center">
          ¿Ya tienes una cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
            data-bs-dismiss="modal">Inicia Sesion</a>
        </p>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registroAsociacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar asociación</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form [formGroup]="registroAsociacionForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nombreAsociacion"
            placeholder="Nombre asociación" formControlName="nombreAsociacion" />
          <label for="floatingInput">Nombre de la asociación</label>
          <small class="text-danger" [hidden]="registroAsociacionForm.get('nombreAsociacion').valid">Nombre de la asociación requerido</small>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nit"
            placeholder="NIT" formControlName="nit" />
          <label for="floatingInput">NIT</label>
          <small class="text-danger" [hidden]="registroAsociacionForm.get('nit').valid"> NIT requerido</small>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control custom-input" placement="bottom" type="number"
            placeholder="Núnmero contacto" formControlName="numeroContacto">
          <label for="floatingInput">Numero contacto</label>
          <small class="text-danger" [hidden]="registroAsociacionForm.get('numeroContacto').valid">Número del contacto requerido</small>
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success mt-3 btn-register"
                (click)="registrarAsociacion()">Registrar</button> <br> <br>
            </div>
          </div>
        </div>
        <div *ngIf="registroError" class="alert alert-danger" role="alert">
          {{mensajeError}}
        </div>
        <div *ngIf="registroExitoso" class="alert alert-success" role="alert">
          {{mensajeAsociacion}}
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
