<div class="card">
  <div class="card-header">
    <b>Fase:</b> {{fase?.nombre}}
  </div>
  <div class="card-body">
    <p class="card-text">
      <b>Descripción:</b> {{fase?.descripcion}}
    </p>
  </div>
  <div class="card-footer">
    <h4>Etapas de la Fase</h4>
      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <thead>
            <tr>
              <th class="table-title" scope="col">Nombre</th>
              <th class="table-title" scope="col">Descripción</th>
              <th class="table-title" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let etapa of fase?.etapas">
              <td class="table-body align-middle">{{etapa?.nombre}}</td>
              <td class="table-body align-middle">
                {{etapa?.descripcion}}
              </td>
              <td class="table-body align-middle">
                Ver Etapa
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
