.card-header {
  color: var(--just-white);
  font-size: 1.8rem;
  border-bottom: 1px solid var(--just-white);
  background-color: var(--background-color);
}

.card
{
  transition: all 0.2s ease;
  background-color: var(--background-color);
  border-color: var(--just-white);
  color: var(--just-white);
}

.card-body
{
  vertical-align: middle;
  color: var(--just-white);
  border-bottom: 1px solid var(--just-white);
}

.card-footer h4 {
  font-size: 1.8rem;
}

.table-responsive {
  margin: 10px;
}

thead th
{
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody th
{
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody td
{
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

.table-title
{
  vertical-align: middle;
}

.table-body {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.btn {
  font-size: 1.6rem;
  background-color: var(--uco-green);
  margin: 0 auto;
  display: block;
}
