<header class="header-content">
    <section class="information">
      <h1>Servicios de Consultoría</h1>
      <p>Ingeniería de Requisitos - SQA - SQC</p>
      <p>Laboratorio para la Industria de Desarrollo de Software</p>
      <p>Programa de Ingeniería de Sistemas - Facultad de Ingeniería - Universidad Católica de Oriente - UCO</p>
      <p>Ingeniar, Crear e Innovar, para hacer Desarrollo Tecnológico, Transformador  y Sustentable</p>
    </section>
</header>
  <main>
    <section class="objectives">
      <div class="container-fluid">
          <div class="row">
              <div class="custom-card col-md-4">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#objectiveFour" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Objetivo de Desarrollo Sostenible</h5>
                        <p class="card-text">Objetivo 4: Educación de Calidad</p>
                      </div>
                  </div>
              </div>
              <div class="custom-card col-md-4">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#objectiveSeventeen" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Objetivo de Desarrollo Sostenible</h5>
                        <p class="card-text">Objetivo 17: Alianzas para Lograr los Objetivos</p>
                      </div>
                  </div>
              </div>
              <div class="custom-card col-md-4">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#inspiration" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Inspiración</h5>
                        <p class="card-text">La Inspiración para el Desarrollo de esta Arquitectura de Software</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="objectiveFour" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Objetivo 4: Educación de Calidad</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Garantizar una educación inclusiva y equitativa de calidad y promover oportunidades de aprendizaje permanente para todos. <br><br>
                  La educación permite la movilidad socioeconómica ascendente y es clave para salir de la pobreza. Durante la última década,
                  se consiguieron grandes avances a la hora de ampliar el acceso a la educación y las tasas de matriculación en las escuelas en
                  todos los niveles, especialmente para las niñas. No obstante, <a href="http://uis.unesco.org/en/topic/out-school-children-and-youth">alrededor de 260 millones de niños aún estaban fuera de la escuela</a> en
                  2018; cerca de una quinta parte de la población mundial de ese grupo de edad. Además, más de la mitad de todos los niños y adolescentes
                  de todo el mundo <a href="https://unstats.un.org/sdgs/report/2019/goal-04/">no están alcanzando los estándares mínimos de competencia</a> en lectura y matemáticas. <br> <br>
                  En 2020, a medida que la pandemia de la COVID-19 se propagaba por todo el planeta, la mayor parte de los países anunciaron el cierre temporal de las escuelas, lo que afectó a
                  más del 91 % de los estudiantes en todo el mundo. En abril de 2020, cerca de <a href="https://en.unesco.org/covid19/educationresponse">1600 millones de niños y jóvenes estaban fuera de la escuela</a>.
                  Igualmente, cerca de <a href="https://www.un.org/sites/un2.un.org/files/policy_brief_on_covid_impact_on_children_16_april_2020.pdf">369 millones de niños que dependen de los comedores escolares</a>
                  tuvieron que buscar otras fuentes de nutrición diaria. <br> <br>
                  Nunca antes habían estado tantos niños fuera de la escuela al mismo tiempo, lo que altera su aprendizaje y cambia drásticamente sus vidas, especialmente las de los niños más vulnerables y marginados.
                  La pandemia mundial tiene graves consecuencias que pueden poner en peligro los avances que tanto costaron conseguir a la hora de mejorar la educación a nivel mundial.
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="objectiveSeventeen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Objetivo 17: Alianzas para Lograr los Objetivos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Los ODS solo se pueden conseguir con asociaciones mundiales sólidas y cooperación. <br> <br>
                  Para que un programa de desarrollo se cumpla satisfactoriamente, es necesario establecer asociaciones inclusivas (a nivel mundial, regional, nacional y local) sobre principios y valores, así como sobre
                  una visión y unos objetivos compartidos que se centren primero en las personas y el planeta.<br><br>
                  Muchos países requieren asistencia oficial para el desarrollo con el fin de fomentar el crecimiento y el comercio. Aun así, <a href="https://www.un.org/press/en/2019/ga12191.doc.htm">los niveles de ayuda están disminuyendo</a>
                  y los países donantes no han respetado su compromiso de aumentar la financiación para el desarrollo.<br><br>
                  Debido a la pandemia de la COVID-19, se espera que la <a href="https://www.imf.org/en/Publications/WEO/Issues/2020/04/14/weo-april-2020">economía mundial</a> se contraiga fuertemente, en un 3 %,
                  en 2020, lo que constituiría su peor recesión desde la Gran Depresión.<br><br>
                  Ahora más que nunca es necesaria una sólida cooperación internacional con el fin de garantizar que los países que poseen los medios para recuperarse de la pandemia reconstruyan mejor y consigan los Objetivos
                  de Desarrollo Sostenible.
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="inspiration" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Objetivo 17: Alianzas para Lograr los Objetivos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Se constituye en la FASE-II del desarrollo del Proyecto de Investigación FORMULACIÓN DE LA PROPUESTA PARA LA CONSTRUCCIÓN DEL LABORATORIO PARA LA INDUSTRIA (O FABRICA) DE DESARROLLO DE SOFTWARE, DE LA FACULTAD DE INGENIERÍAS DE LA UCO,
                  llevado a cabo en la vigencia de 2017 y 2018, el cual consistió básicamente en: Generar un espacio donde los estudiantes de la UCO, puedan participar en proyectos de desarrollo software que la universidad y sectores externos, con el fin
                  de satisfacer la demanda tanto interna como externa, esto a su vez beneficiará a los estudiantes, ya que el trabajo sería validado como trabajo de grado. Adicionalmente se proyectó involucrar a los estudiantes que cursan algunos cursos
                  en el desarrollo, esto con el fin de fortalecer la vinculación Con El Desarrollo Académico Curricular Adicional a los Proyectos De Grado. La definición de diferentes enfoques metodológicos, marcos de referencia y estándares internacionales
                  permitirá la integración de nuevos enfoques al currículo. Se trata por tanto en esta FASE-II, a través de una Plataforma Virtual, operacionalizar, la propuesta de laboratorio para la industria (o fabrica) de desarrollo de software de la FI-UCO,
                  para la prestación de servicios de consultoría, concretamente en las fases del ciclo de vida de desarrollo de software, relacionadas con ingeniería de requisitos, aseguramiento de la calidad del software SQA y del control de calidad de software,
                  de tanto en el proceso mismo de desarrollo de software, como de los productos y servicios que se obtienen como resultado del desarrollo de software, mediante la construcción de las arquitecturas correspondientes tanto de procesos como de software.<br><br>
                  Teniendo en cuenta la situación problemática abordada en el desarrollo del proyecto de investigación del Proyecto de Investigación FORMULACIÓN DE LA PROPUESTA PARA LA CONSTRUCCIÓN DEL LABORATORIO PARA LA INDUSTRIA (O FABRICA) DE DESARROLLO DE SOFTWARE, DE
                  LA FACULTAD DE INGENIERÍAS DE LA UCO, que consistía en que La universidad requiere desarrollos de software que se ajusten a sus necesidades y que adicionalmente existen necesidades y expectativas de carácter externo tales como el desarrollo de prácticas,
                  consultorio empresarial, procesos de innovación en procesos de desarrollo de software, articulación e integración del desarrollo del proceso académico con el proceso de investigación en la formación en las disciplinas de la ingeniería, entre otros.
                  Adicionalmente Los estudiantes de Ingeniería de Sistemas tienen dificultades a la hora de entregar su trabajo de grado, por este motivo su grado se debe postergar, en este momento alrededor 20 estudiantes que terminaron su plan de estudio e ingresaron
                  en el 1 2000 están pendientes del grado. La idea es unir estás dos necesidades a través de una estructura que ayude tanto a los estudiantes como a los usuarios y que permita el sostenimiento y mantenibilidad de los productos realizados. Siguiendo el anterior
                  hilo conductor de la problemática esbozada, se identifica en la actualidad la necesidad urgente de poder instrumentar para su operacionalización y puesta en funcionamiento de la propuesta de laboratorio de para la industria (o fabrica) de desarrollo de software
                  de la FI-UCO que ya se tiene disponible desde el 2018, haciéndola una realidad, en el propósito de que tanto la Institución, la FI, los Programas Adscritos a la FI, otras facultades y programas que lo requieran, estudiantes, docentes, egresados y sector externo
                  en general, puedan acceder a dicho laboratorio en los diferentes roles en que así lo requieran a través de la plataforma virtual en la que se va a disponer de la Arquitectura de Procesos y Software, que se pretende lograr en el desarrollo de esta propuesta.<br><br>
                  Los productos y servicios resultado, del desarrollo del proyecto propuesto, están dirigidos a atender y proveer soluciones a situaciones problemáticas reales en entornos globales locales, nacionales e internacionales, de una población integrada, por las Instituciones
                  de Educación Superior, Educación Secundaria, Estudiantes de educación básica y Secundaria, Estudiantes de Educación técnica y tecnológica, Estudiantes de Educación Superior en general y particularmente de programas relacionados directa o indirectamente con el desarrollo
                  y uso de tecnologías emergentes y de la información y las telecomunicaciones, Profesionales Egresados de niveles técnicos, tecnológicos y universitarios en cualquier disciplina, sectores sociales y económicos, en general y en particular sector de desarrollo tecnológico
                  e innovación.
              </div>
            </div>
          </div>
      </div>
  </section>
  </main>
