.header-content
{
  background-image: url('/assets/images/Fondo.png');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;

}

.information p
{
  color: var(--just-white);
  font-size: 1.8rem;
}

.fundamentals h5
{
  font-size: 1.8rem;
}

.modal-body h3
{
  font-size: 1.8rem;
}

.modal-body h4
{
  font-size: 1.6rem;
}

.modal-body p, li
{
  font-size: 1.4rem;
}

.fundamentals p
{
  font-size: 1.4rem;
}

.card
{
  transition: all 0.2s ease;
  background-color: var(--background-color);
  border-color: var(--just-white);
  cursor: pointer;
}

.card-body
{
  vertical-align: middle;
  color: var(--just-white);
}

.card:hover
{
  box-shadow: 5px 6px 6px 2px #222222;
  transform: scale(1);
}

.modal-body{
  background-color: var(--background-color);
  color: var(--just-white);
}

.modal-header {
  background-color: var(--background-color);
}

.modal-title {
  font-size: 1.8rem;
  color: var(--just-white);
}

