<header class="header-content">
    <app-encabezado *ngIf="true"></app-encabezado>
    <app-encabezado-sesion *ngIf="false"></app-encabezado-sesion>
    <section class="information">
      <h1>Fundamentación y Pertinencia</h1>
      <p>Ingeniar, Crear e Innovar, para hacer Desarrollo Tecnológico, Transformador y Sustentable</p>
    </section>
  </header>
  <main>
    <section class="fundamentals">
      <div class="mt-5 mb-3">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="card  h-100" data-bs-toggle="modal" data-bs-target="#sustentation" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Sustentación teórica</h5>
                            <p class="card-text">Sustentación Teórica Conceptual de la Arquitectura de Software</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100" data-bs-toggle="modal" data-bs-target="#justification" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Justificación</h5>
                            <p class="card-text">Justificación de la Arquitectura de Software</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100" data-bs-toggle="modal" data-bs-target="#impact" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Impacto</h5>
                            <p class="card-text">Impacto de la Arquitectura de Software</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card h-100" data-bs-toggle="modal" data-bs-target="#revision" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">Solicitud de Revisión</h5>
                            <p class="card-text">Solicitud de Revisión Sobre Resultado de Evaluación Propuesta de proyecto de Investigación Convocatoria 2021 a la Dirección de Investigación </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sustentation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sustentación teórica</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                    </div>
                    <div class="modal-body">
                        <h3>1. Conceptos generales</h3>
                        <h4>1.1 SOFTWARE</h4>
                        <p>Para (SOMMERVILLE, 2005) el software: “Es el conjunto de programas de cómputo, documentos asociados y esquemas de configuración necesarios para que estos programas operen.” <br>De esta definición se puede recalcar que el software no
                            solo es código, sino que incluye documentación interna y externa, por tal motivo, aunque no sea centrada en la documentación se debe definir una metodología que produzca documentación donde se especifique el proyecto de software
                            y además debe generar esquemas de configuración. <br>(BRAUDE, 2003) afirma que la documentación es vital en el proceso de Ingeniería de Software tanto del código como la documentación separada, en esto es vital el manejo de estándares
                            ya que hacen posible la interoperabilidad (los artefactos producidos por una aplicación se pueden llevar a otra); los estándares mejoran la comunicación entre Ingenieros, se recomienda que para que los estándares sean usados deben
                            venir de una construcción conjunta ya que los equipos estarán motivados pero tiene como desventaja que se pueden crear estándares diferentes en la misma empresa lo cual reduce la posibilidad de comparar proyectos y requiere que
                            los ingenieros que cambian de proyecto aprendan un nuevo marco de trabajo; lo normal en las empresas es que se definan estándares generales y en el proceso de inducción de una persona nueva se incluyen el estudio de los estándares
                            y como mínimo es que las compañías desarrollen estándares sencillos y claros.
                            <br>Son varias las organizaciones que publican normas y estándares; entre ellas están: <br></p>
                        <ul>
                            <li>El International Institute of Electronic and Electrical Engineers (IEEE. www.ieee.org) ha generado estándares de documentación creados por diferentes comités, su trabajo es promover la creatividad, el desarrollo y la integración,
                                compartir y aplicar los avances en las tecnologías de la información, electrónica y ciencias en general para beneficio de la humanidad y de los mismos profesionales. IEEE y sus miembros inspiran a la comunidad global a través
                                de publicaciones, conferencias, estándares de tecnología, actividades profesionales y educativas. <br>Su creación se remonta al año 1884, contando entre sus fundadores a personalidades de la talla de Thomas Alva Edison, Alexander
                                Graham Bell y Franklin Leonard Pope. En 1963 adoptó el nombre de IEEE al fusionarse asociaciones como el AIEE (American Institute of Electrical Engineers) y el IRE (Institute of Radio Engineers).Mediante sus actividades de
                                publicación técnica, conferencias y estándares basados en consenso, el IEEE produce más del 30% de la literatura publicada en el mundo sobre ingeniería eléctrica, en computación, telecomunicaciones y tecnología de control,
                                organiza más de 1000 conferencias al año en todo el mundo, y posee cerca de 900 estándares activos, con otros 700 más bajo desarrollo.</li>
                            <li>La Internacional Standards Organization (ISO) es el organismo encargado de promover el desarrollo de normas internacionales de fabricación (tanto de productos como de servicios), comercio y comunicación para todas las ramas industriales
                                a excepción de la eléctrica y la electrónica. Su función principal es la de buscar la estandarización de normas de productos y seguridad para las empresas u organizaciones (públicas o privadas) a nivel internacional.
                            </li>
                            <li>El software Engineering Institute (SEI): Fue establecido por el Ministerio de Defensa de Estados Unidos en Carnegie Mellon University para ayudar a actualizar el nivel de Ingeniería de software de los contratistas militares, aunque
                                numerosas compañías comerciales lo han adoptado. Es un referente en Ingeniería de Software por realizar el desarrollo del modelo SW-CMM (1991) que ha sido el punto de arranque de todos los que han ido formando parte del modelo
                                que ha desarrollado sobre el concepto de capacidad y madurez, hasta el actual CMMI.</li>
                            <li> El Object Management Group (OMG, www.omg.org): Establece estándares para computación orientada a objetos, la OMG ha respaldado el Lenguaje de modelado unificado (UML) como un estándar para describir diseños. Es una organización
                                sin ánimo de lucro que promueve el uso de tecnología orientada a objetos mediante guías y especificaciones para las mismas.</li>
                        </ul>
                        <p>La IEEE ha definido varias plantillas para documentar el proceso de desarrollo de software:</p>
                        <ul>
                            <li>PVVS: Plan de validación y verificación de Software, este explica la forma en que debe verificarse los pasos de un proyecto y un producto con sus requerimientos.</li>
                            <li> PAQS: Plan de aseguramiento de la calidad de software, Este explica la manera en que el proyecto logra sus metas de calidad.</li>
                            <li>PACS: Plan de administración de la configuración de Software, explica dónde se almacenan los documentos y el código en sus diferentes versiones, además cómo se acomodan juntos.</li>
                            <li>PAPS: Plan de administración del proyecto de software, explica cómo debe llevarse a cabo el proyecto.</li>
                            <li>ERS: Especificación de Requerimientos de Software, este documento establece los requerimientos para la aplicación y es una especie de contrato y guía para el cliente y los desarrolladores.</li>
                            <li>DDS: Documentación del Diseño de Software, describe los detalles de la arquitectura y diseño de la aplicación.</li>
                            <li>DPS: documentación de Pruebas de Software, describe la manera como debe probarse la aplicación y sus partes</li>
                        </ul>
                        <h4>1.2 TIPOS DE SOFTWARE</h4>
                        <p>En (B. B. Agarwal, 2010) se define los siguientes tipos de Software. <br>Hay dos tipos principales de aplicaciones y de sistemas.
                        </p>
                        <ul>
                            <li>De aplicación: Conjunto de instrucciones de computadora escritas con un lenguaje de programación, las cuales dirigen al hardware para que efectúe actividades específicas de procesamiento de datos y de información que proporcionan
                                funcionalidad al usuario. Esta puede ser amplia: procesamiento general de palabras o limitada como la nómina. Los programas de aplicación satisfacen una necesidad como incrementar la productividad o mejorar decisiones del nivel
                                de inventarios.</li>
                            <li>DE SISTEMAS: Actúa como intermediario entre el hardware de cómputo y los programas de aplicación.</li>
                        </ul>
                        <p>En (B. B. Agarwal, 2010) y (SOMMERVILLE, 2005) coinciden en que existen dos clases de productos de software a saber:</p>
                        <ul>
                            <li>Software genérico. Son sistemas aislados producidos por una organización de desarrollo y que se venden al mercado abierto a cualquier cliente que le sea posible comprarlos. Ejemplos de este tipo de producto son el software para
                                PCs tales como bases de datos, procesadores de texto, paquetes de dibujo y herramientas de gestión de proyectos.</li>
                            <li>Software personalizado (o hechos a medida). Son sistemas requeridos por un cliente en particular. Un contratista de software desarrolla el software especialmente para ese cliente. Ejemplos de este tipo de software son los sistemas
                                de control para instrumentos electrónicos, sistemas desarrollados para llevar a cabo procesos de negocios específicos.</li>
                        </ul>

                        <h3>2 MODELOS DE SOFTWARE Y CICLOS DE SOFTWARE</h3>
                        <h4>2.1 INGENIERÍA DE SOFTWARE</h4>
                        <p>Para (SOMMERVILLE, 2005) “La ingeniería del software es una disciplina de la ingeniería que comprende todos los aspectos de la producción de software desde las etapas iniciales de la especificación del sistema, hasta el mantenimiento
                            de éste después de que se utiliza.” En esta definición, existen dos frases clave:</p>
                        <ol>
                            <li>Disciplina de la ingeniería. Los ingenieros hacen que las cosas funcionen. Aplican teorías, métodos y herramientas donde sean convenientes, pero las utilizan de forma selectiva y siempre tratando de descubrir soluciones a los problemas,
                                aun cuando no existan teorías y métodos aplicables para resolverlos. Los ingenieros también saben que deben trabajar con restricciones financieras y organizacionales, por lo que buscan soluciones tomando en cuenta estas restricciones.</li>
                            <li>Todos los aspectos de producción de software. La ingeniería del software no sólo comprende los procesos técnicos del desarrollo de software, sino también con actividades tales como la gestión de proyectos de software y el desarrollo
                                de herramientas, métodos y teorías de apoyo a la producción de software.</li>
                        </ol>
                        <p>En (BRAUDE, 2003) La ingeniería de software incluye las 4Ps
                            <br> Proceso: Es la manera en que se hace el desarrollo. Son todas las actividades del proceso seleccionado
                            <br> Proyecto: Seleccionar las actividades del proceso que son aplicables al proyecto, dependiendo de la complejidad y tamaño
                            <br> Personas: Todas las personas involucradas en el proyecto y que son ellas no tendría éxito, en otras palabras, los Stakeholders, incluye clientes, usuarios, analistas, arquitectos, diseñadores.
                            <br> Producto: Son los artefactos generados durante el proyecto como documentos, código, manuales; estos dependen del proceso y de la instanciación de dicho proceso.

                        </p>
                        <h4>2.2 PROCESOS DE SOFTWARE</h4>
                        <p>En (Rumbaugh, EL LENGUAJE UNIFICADO DE MODELADO. MANUAL DE REFERENCIA (2ª ED.) (EN PAPEL), 2007) define metodología “como un proceso para producir software de forma organizada, empleando una colección de técnicas y convenciones de
                            notación predefinidas” y en (Piattini, 1996) Como “Conjunto de procedimientos, técnicas, herramientas y un soporte documental que ayuda a los desarrolladores a realizar nuevo software” <br>De la definición se puede deducir que
                            una metodología está compuesta por: proceso, técnicas y herramientas. Donde el proceso define la forma de trabajo, actividades y flujos, las técnicas indican como se debe modelar el software y las herramientas son el soporte automático
                            para el proceso y las técnicas. En (Bentley, 2008) define Un proceso de desarrollo de sistemas “como un conjunto de actividades, métodos, mejores prácticas, productos y herramientas automatizadas que los interesados utilizan para
                            desarrollar y mejorar continuamente los sistemas de información de software.” <br>Existen cuatro actividades fundamentales que son comunes para todos los procesos del software. Estas actividades son:
                        </p>
                        <ol>
                            <li>Especificación del software donde los clientes e ingenieros definen el software a producir y las restricciones sobre su operación.</li>
                            <li>Desarrollo del software donde el software se diseña y programa.</li>
                            <li>Validación del software donde el software se válida para asegurar que es lo que el cliente requiere.</li>
                            <li>Evolución del software donde el software se modifica para adaptarlo a los cambios requeridos por el cliente y el mercado.</li>
                        </ol>
                        <p>No existe un método ideal, y métodos diferentes tienen distintas áreas donde son aplicables. Por ejemplo, los métodos orientados a objetos a menudo son apropiados para sistemas interactivos, pero no para sistemas con requerimientos
                            rigurosos de tiempo real. <br>EN (Pressman, 2010) El proceso de software forma la base para el control de la administración de proyectos de software, y establece el contexto en que se aplican métodos técnicos, se generan productos
                            del trabajo (modelos, documentos, datos, reportes, formatos, etc.) se establecen puntos de referencia, se asegura la calidad y se administra el cambio de manera apropiada. Y los métodos incluyen un conjunto amplio de tareas, como
                            comunicación, análisis de los requerimientos, modelación del diseño, construcción del programa, pruebas y apoyo. Los métodos de la ingeniería de software se basan en un conjunto de principios fundamentales que gobiernan cada área
                            de la tecnología e incluyen actividades de modelación y otras técnicas descriptivas y las herramientas de la ingeniería de software proporcionan un apoyo automatizado o semiautomatizado para el proceso y los métodos.</p>
                        <h4>2.3. EL PROCESO DEL SOFTWARE</h4>
                        <p>En el contexto de la ingeniería de software, un proceso no es una prescripción rígida de como elaborar software de computador. Por el contrario, es un enfoque adaptable que permite que las personas que hacen el trabajo (el equipo de
                            software) busquen y elijan el conjunto apropiado de acciones y tareas para el trabajo. Se busca siempre entregar el software en forma oportuna y con calidad suficiente para satisfacer a quienes patrocinaron su creación y a aquellos
                            que lo usaran.
                            <br>Una estructura de proceso general para la ingeniería de software consta de cinco actividades.</p> <img src="https://lh5.googleusercontent.com/LqE7euc2LHTVqlZH2LafVMlWEV8pdP0fENcJ4Q2g6B2ySHi-P46JYpFIQClaAP8oqsga_Yo_roR3PKPfhoQe5j4AuecK1RPfYgv9P32FtyQXq39SB7u9vv5imV0MfOj4cg=w1280"
                            class="img-fluid" alt="">
                        <p>Estas cinco actividades estructurales genéricas se usan durante el desarrollo de programas pequeños y sencillos, en la creación de aplicaciones web grandes y en la ingeniería de sistemas enormes y complejos basados en computadoras.
                            Los detalles del proceso de software serán distintos en cada caso, pero las actividades estructurales son las mismas.</p>
                        <p>Las actividades sombrilla sean las siguientes:</p>
                        <p>En (B. B. Agarwal, 2010) define los ciclos de vida del proyecto. El ciclo de vida de desarrollo de software se utiliza para facilitar el desarrollo de un producto de software de una manera sistemática y bien definidos, y rentable.
                            Un sistema de información pasa por una serie de fases, desde la concepción hasta la implementación. Este proceso recibe el nombre de desarrollo de software de ciclo de vida. Las razones para el uso de un modelo del ciclo de vida
                            incluyen:
                        </p>
                        <ul>
                            <li>Ayuda a comprender el proceso</li>
                            <li>Aplica un enfoque estructurado para el desarrollo</li>
                            <li>Permite la planificación de los recursos de antemano</li>
                            <li>Activa los controles posteriores de los mismos</li>
                            <li>Gestión de las ayudas para seguir el progreso del sistema</li>
                        </ul>
                        <p>El desarrollo de software de ciclo de vida se puede dividir en 5-9 fases, es decir, debe tener un mínimo de cinco fases y un máximo de nueve fases. En promedio tiene siete u ocho fases. En la siguiente gráfica se muestra las fases:
                        </p>
                        <ol>
                            <li>Reconocimiento de la Necesidad. Es la etapa inicial de cualquier proyecto, es indagar sobre el sistema en forma detallada.</li>
                            <li>Estudio de Viabilidad. Consiste en evaluar si el proyecto es viable o en (B. B. Agarwal, 2010) se define los siguientes tipos de viabilidad, como se indica a continuación:
                                <ul>
                                    <li>Viabilidad Organizacional: <br> ¿Qué tan bien el sistema propuesto es compatible con los objetivos estratégicos de la organización? </li>
                                    <li>Viabilidad Económica: <br> Ahorro de costos <br> El aumento de los ingresos <br> Disminución de la inversión <br> El aumento de las ganancias</li>
                                    <li>Viabilidad Técnica: <br> Hardware, software, y la capacidad de red, confiabilidad y disponibilidad</li>
                                    <li>Viabilidad Operativa: <br> Aceptación del usuario final Apoyo a la gestión</li>
                                </ul>
                            </li>
                            <li>Análisis de Proyectos. Es el estudio detallado del proceso que se piensa implementar, cómo funciona el proyecto, cuáles son sus entradas. El análisis debe tener en cuenta todas las personas involucradas en el proceso. Esto se documenta
                                como la propuesta de sistema.</li>
                            <li>Diseño del sistema. El diseño del sistema es la fase más creativa y desafiante del ciclo de vida de desarrollo del sistema. El diseño término describe el sistema final y el proceso por el cual se desarrolla. <br> Esta fase incluye
                                las siguientes tareas:
                                <ul>
                                    <li>Evaluar los términos de referencia</li>
                                    <li>Evaluar el análisis del sistema existente, en particular las áreas problemáticas</li>
                                    <li>Definir con precisión la salida requerida del sistema</li>
                                    <li>Determinar los datos necesarios para producir la salida</li>
                                    <li>La elaboración de métodos de procesamiento y el uso de software para manejar archivos y para producir una salida</li>
                                    <li>La determinación de los métodos de captura y datos de entrada de datos</li>
                                    <li>El diseño de los formularios de salida</li>
                                    <li>Definición de procedimientos exhaustivos y críticos</li>
                                    <li>Cálculo de los tiempos de los movimientos y de procesamiento de datos</li>
                                    <li>Documentar todos los aspectos de diseño</li>
                                </ul>
                            </li>
                            <li> Codificación. El objetivo de la fase de codificación es traducir el diseño del sistema en un lenguaje de programación determinado. En esta fase, el objetivo es poner en práctica el diseño de la mejor manera posible.</li>
                            <li> Pruebas. La prueba es la estrategia principal de control de calidad utilizados durante el desarrollo del software. Su función básica es la detección de errores en el software. Por lo tanto, el objetivo de las pruebas es descubrir
                                errores en los requisitos, en el diseño, y en la codificación del programa.</li>
                            <li>Implantación. Se refiere principalmente a la formación de usuarios, selección del sitio, y la preparación y conversión de archivos. Una vez que el sistema ha sido diseñado, está listo para su Implantación. Incluye la prueba final
                                del sistema completo con la satisfacción del usuario, y la supervisión de la puesta en marcha del sistema.</li>
                            <li>Mantenimiento. Si hay cualquier error para corregir o cambiar se realiza en la fase de mantenimiento. Muchas veces de mantenimiento puede consumir más tiempo que el tiempo consumido en el desarrollo. Además, el costo de mantenimiento
                                varía de 50% a 80% del costo total de desarrollo.</li>
                        </ol>
                        <p>En la siguiente figura se muestra los tipos de mantenimiento:</p>
                        <p>SQA: Aseguramiento de la calidad del software, que, según IEEE[i], se define como “una guía planificada y sistemática de todas las acciones necesarias para proveer la evidencia adecuada, para que un producto cumpla los requerimientos
                            técnicos establecidos un conjunto de actividades diseñadas para evaluar el proceso por el cual un producto es desarrollado o construido”. De la misma forma se entiende de acuerdo a lo planteado por Daniel Galin, como “Un conjunto,
                            sistemático y planificado, de acciones necesarias para proveer la evidencia adecuada, que el proceso de desarrollo o mantenimiento de un sistema de software cumple los requerimientos técnicos funcionales tan bien como los requerimientos
                            gerenciales para cumplir la planificación y operar dentro del presupuesto confinado” o por el Instituto de Ingeniería de Software SEI[ii], como “El aseguramiento de la calidad del software provee claro control del proceso que está
                            siendo usado por el proyecto y del producto que se está construyendo”.</p>
                        <p>Las Funciones generales de SQA, se trata de asegurar que el proceso de desarrollo de software sigue los procesos establecido, de acuerdo a la metodología y/o paradigma utilizado:
                        </p>
                        <ul>
                            <li>Auditar los productos del trabajo para identificar deficiencias.</li>
                            <li>Determinar el cumplimiento del plan de desarrollo del proyecto y del proceso de desarrollo de software.</li>
                            <li>Evaluar el proceso y no el producto.</li>
                            <li>Identificar la funcionalidad que el cliente requiere o necesita encontrar.</li>
                            <li>Ayudar a la organización a sensibilizarse con las necesidades del cliente.</li>
                            <li>Actuar como un cliente de prueba para obtener una alta satisfacción del cliente.</li>
                        </ul>
                        <ul class="p-3">
                            <li>Identificar la funcionalidad que el cliente requiere o necesita encontrar.</li>
                            <li>Ayudar a la organización a sensibilizarse con las necesidades del cliente.</li>
                            <li>Actuar como un cliente de prueba para obtener una alta satisfacción del cliente.</li>
                        </ul>
                        <ul>
                            <li>Proveer información técnica objetiva para que la gerencia pueda usarla para tomar mejores decisiones.</li>
                            <li>Proveer información apropiada de las clases de productos y de los riesgos asociados con estos.</li>
                            <li>Enfocarse en la reducción de los riesgos que en el cumplimiento del proceso.</li>
                            <li>Definición de los planes, procesos, estándares y procedimientos para asegurar que se ajustan a las necesidades del proyecto y que pueden ser usados para.</li>
                            <li>Realizar las evaluaciones de QA y cumplir los requerimientos del proyecto y las políticas de la organización.</li>
                        </ul>
                        <p>SQC: Control de calidad del software, entendido como aquellas acciones del aseguramiento de la calidad que proporcionan un medio para controlar y medir las características de un elemento, proceso o facilidad respecto a los requisitos
                            establecidos, lo cual involucra todos aquellos aspectos relacionados con proceso de validación, verificación revisiones, testing.
                        </p>
                        <p>[i] El Instituto de Ingeniería Eléctrica y Electrónica (conocido por sus siglas IEEE, leído i-triple-e en Latinoamérica o i-e-cubo en España; en inglés Institute of Electrical and Electronics Engineers) es una asociación mundial de
                            ingenieros dedicada a la normalización y el desarrollo en áreas técnicas. Con cerca de 425 000 miembros y voluntarios en 160 países, es la mayor asociación internacional sin ánimo de lucro formada por profesionales de las nuevas
                            tecnologías, como ingenieros electricistas, ingenieros electrónicos, ingenieros de sistemas, ingenieros en computación, matemáticos aplicados, ingenieros en biomedicina, ingenieros en telecomunicación, ingenieros en mecatrónica,
                            ingenieros en telemática, ingenieros sociales, cibernéticos, ingenieros en software, ingenieros industriales, etc.
                            <br><br>Fue creado en 1884 por Thomas Alva Edison, Alexander Graham Bell, Franklin Leonard Pope y otros ingenieros. En 1963 adoptó el nombre de IEEE al fusionarse asociaciones con el AIEE (American Institute of Electrical Engineers)
                            y el IRE (Institute of Radio Engineers). <br>[ii] Software Engineering Institute (SEI) es un instituto federal estadounidense de investigación y desarrollo, fundado por Congreso de los Estados Unidos en 1984 para desarrollar modelos
                            de evaluación y mejora en el desarrollo de software, que dieran respuesta a los problemas que generaba al ejército estadounidense la programación e integración de los sub-sistemas de software en la construcción de complejos sistemas
                            militares. Financiado por el Departamento de Defensa de los Estados Unidos y administrado por la Universidad Carnegie Mellon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="justification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Justificación de la arquitectura</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                    </div>
                    <div class="modal-body">
                        <p>El proyecto beneficiaría a: </p>
                        <ul>
                            <li>Los estudiantes en general: <br>Podrán aspirar a la realización de proyectos del banco de proyectos disponibles, esto para completar su plan de estudios en lo referente a trabajo de grado. Esto se logrará bajo la autorización del
                                comité de currículo y su certificación por el consejo de facultad. Todos los proyectos de grado serán guiados bajo el grupo GIMU y estarán inscritos ante I+D UCO.</li>
                            <li>Grupo de profesores de tiempo completo, medio tiempo y cátedra: <br>Todos los docentes del programa están llamados a apoyar la investigación del programa desde diferentes frentes. Anualmente se deben generar al menos diez ideas
                                de proyectos que se deben colocar en el banco de ideas, estas ideas no tienen lineamientos específicos, son justamente pequeñas propuestas para ser tenidas en cuenta al momento de formular los proyectos, en este punto toda
                                la comunidad puede aportar ideas, las cuales serán moderadas por los profesores de tiempo completo del programa.</li>
                            <li>Empresas del sector: <br>La relación Universidad – Empresa – Estado se puede materializar al involucrar al sector productivo público o privado a los proyectos de investigación que adelante el programa. De esta forma, se escuchan
                                constantemente las necesidades del sector y se buscan alternativas de solución conjunta a las problemáticas trazadas. También se desea potenciar el intercambio de buenas prácticas y de mejora continua en el cual sea posible
                                buscar ayudas para mantener al grupo en contacto constante con las empresas del sector de las cuales se puede aprender mucho y también se les puede aportar.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="impact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Impacto de la arquitectura</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                    </div>
                    <div class="modal-body">
                        <p><b>Aspectos éticos.</b> Se refiere a todas aquellas actividades que se realizan en un proyecto y que pueden tener repercusiones en la vida de personas y/o de animales que les puedan ser perjudiciales.</p>
                        <p><b>Impacto social.</b> Se relacionan todos aquellos aspectos que pueden ser positivos o negativos para una población.</p>
                        <ul>
                            <li>Se estimulará el trabajo en equipo.</li>
                            <li>Se trabajará en proyectos multidisciplinares.</li>
                        </ul>
                        <p><b>Impactos en el currículo.</b> Son todas aquellas actividades que tienden a fortalecer una relación más estrecha entre la enseñanza y la investigación, y por lo tanto es positivo para la formación del estudiante.</p>
                        <ul>
                            <li>Se fomentará la investigación formativa</li>
                            <li>El estudiante conocerá cómo es trabajar en equipos de desarrollo de software en la vida real</li>
                        </ul>
                        <p>Se investigará constantemente nuevas tecnologías y metodologías con el fin de agilizar los procesos de construcción de software y la prestación de servicios de consultoría en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio
                            para la industria (o fabrica) de desarrollo de software de la FI-UCO.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Revisión de la propuesta</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>SOLICITUD DE REVISIÓN SOBRE RESULTADO DE EVALUACIÓN PROPUESTA DE PROYECTO DE INVESTIGACIÓN </h3>
                        <ol>
                            <li>I. Evaluación del Proyecto </li>
                            <li>II. Evaluación Externa del Proyecto</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </main>
