<section class="update-form">
  <h1>Mi Cuenta</h1>
  <div class="update-person">
    <form [formGroup]="actualizacionForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="nombre"
              placeholder="nombre" formControlName="nombreActualizacion" required [value]="personaResumen?.nombre">
            <label for="floatingInput">Nombres</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="apellidos"
              placeholder="apellidos" formControlName="apellidosActualizacion" required [value]="personaResumen?.apellidos">
            <label for="floatingInput">Apellidos</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="correo"
          placeholder="correo@ejemplo.com" formControlName="correoActualizacion" required [value]="personaResumen?.correo">
        <label for="floatingInput">Correo Electrónico</label>
      </div>
      <div class="container-fluid h-100">
        <div class="row w-100 align-items-center">
          <div class="col text-center">
            <button type="submit" class="btn btn-success mt-3"
              (click)="onClickUpdate()">Actualizar</button> <br> <br>
          </div>
        </div>
      </div>
      <div *ngIf="actualizacionError" class="alert alert-danger" role="alert">
        {{mensajeError}}
      </div>
      <div *ngIf="actualizacionExitosa" class="alert alert-success" role="alert">
        {{mensajeActualizacion}}
      </div>
    </form>
  </div>
  <div class="update-password">
    <form [formGroup]="actualizacionClaveForm">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="claveAntigua"
           formControlName="claveAntiguaActualizacion" required>
        <label for="floatingInput">Contraseña Anterior</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="claveNueva"
           formControlName="claveNuevaActualizacion" required>
        <label for="floatingInput">Contraseña Nueva</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control"
          id="confirmarClave" placeholder="confirmar contraseña" formControlName="confirmarClaveActualizacion" required>
        <label for="floatingPassword">Confirmar Contraseña</label>
      </div>
      <div class="container-fluid h-100">
        <div class="row w-100 align-items-center">
          <div class="col text-center">
            <button type="submit" class="btn btn-success mt-3 btn-register"
              (click)="onClickUpdatePassword()">Actualizar Contraseña</button> <br> <br>
          </div>
        </div>
      </div>
      <div *ngIf="actualizacionError" class="alert alert-danger" role="alert">
        {{mensajeError}}
      </div>
      <div *ngIf="actualizacionExitosa" class="alert alert-success" role="alert">
        {{mensajeActualizacion}}
      </div>
    </form>
  </div>
  <div class="delete-account container-fluid h-100">
    <h3>¿Deseas eliminar la cuenta?</h3>
    <div class="row w-100 align-items-center">
      <div class="col text-center">
        <button type="submit" class="btn btn-success mt-3 btn-register"
          (click)="onClickDelete()">Eliminar</button> <br> <br>
      </div>
    </div>
  </div>
</section>
