.header-content
{
  background-image: url('/assets/images/Fondo.png');
  height: 88.7vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  max-width: 70vw;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;

}

.information p
{
  color: var(--just-white);
  font-size: 1.8rem;
}

.carousel-item .container-fluid .row {
  display: flex;
  align-items: center;
}

.carousel-item img {
  max-height: 100%;
  margin-right: 20px;
}

.carousel-item .col-md-8 {
  padding: 20px;
}

.mainContent .h4
{
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.mainContent p
{
  font-size: 1.8rem;
  margin-bottom: 0;
}

.img-fluid
{
    float: left;
}

.responsibles
{
  margin: 10px 20px 10px 20px;
}

.text-center {
  color: var(--just-white);
}

@media (max-width: 767px) {
  .col-md-4 {
    display: flex;
    justify-content: center;
  }
}
