<header class="header-content">
    <app-encabezado *ngIf="true"></app-encabezado>
    <app-encabezado-sesion *ngIf="false"></app-encabezado-sesion>
    <section class="information">
      <h1>Responsables</h1>
      <p>"Hay tres tipos de personas en el mundo: los que hacen que las cosas ocurran, los que ven cómo ocurren las cosas y los que se preguntan qué ocurrió." N. Butler.</p>
      <p>Ingeniar, Crear e Innovar, para hacer Desarrollo Tecnológico, Transformador  y Sustentable</p>
    </section>
  </header>
  <main class="mainContent">
    <section class="responsibles">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../../assets/images/LuzMeryRios.png" class="img-fluid" alt="Luz Mery Ríos Alzate">
                        </div>
                        <div class="col-md-8">
                            <p class="h4 text-center">Luz Mery Ríos Alzate</p>
                            <p class="lead text-center">
                                Coordinadora del Programa de Ingeniería de Sistemas de la FI UCO<br>
                                Líder Técnico de la Arquitectura de Software, para la prestación de Servicios de Consultoría en Ingeniería de Requisitos, SQA & SQC.<br>
                                Profesional/Ingeniero Sistemas/ 1995.<br>
                                postgrados / Ingeniería de Software/2002.<br>
                                lrios@uco.edu.co<br>
                                569 90 90 Ext. 520<br>
                                CVLAC<br>
                                2021
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../../assets/images/SaulBustamante.png" class="img-fluid" alt="Saúl Antonio Bustamante Bustamante">
                        </div>
                        <div class="col-md-8">
                            <p class="h4 text-center">Saúl Antonio Bustamante Bustamante</p>
                            <p class="lead text-center">
                                Docente de Tiempo Completo del Programa de Ingeniería de Sistemas de la FI UCO<br>
                                Líder Operativo de la Arquitectura de Software, para la prestación de Servicios de Consultoría en Ingeniería de Requisitos, SQA & SQC.<br>
                                Profesional/Ingeniero Sistemas/ 1993<br>
                                Especialización / Gestión de Software/2004.<br>
                                sbustamante@uco.edu.co<br>
                                569 90 90<br>
                                CVLAC<br>
                                2021
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../../assets/images/JohnFernando.png" class="img-fluid" alt="John Fernando López Velásquez">
                        </div>
                        <div class="col-md-8">
                            <p class="h4 text-center">John Fernando López Velásquez</p>
                            <p class="lead text-center">
                                Docente de Tiempo Completo del Programa de Ingeniería Industrial de la FI UCO<br>
                                Líder de Procesos de la Arquitectura de Software, para la prestación de Servicios de Consultoría en Ingeniería de Requisitos, SQA & SQC.<br>
                                Ingeniero de Sistemas e Informática - Universidad Nacional de Colombia<br>
                                Magíster en Ingeniería- Ingeniería  de Sistemas - Universidad Nacional de Colombia<br>
                                jlopez@uco.edu.co<br>
                                569 90 90 Ext. 517<br>
                                CVLAC<br>
                                2021
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../../assets/images/MariaVictoria.png" class="img-fluid" alt="Maria Victoria Silva Domínguez">
                        </div>
                        <div class="col-md-8">
                            <p class="h4 text-center">Maria Victoria Silva Domínguez</p>
                            <p class="lead text-center">
                                Docente del Programa de Ingeniería de Sistemas de la FI UCO<br>
                                Líder General  de la Arquitectura de Software, para la prestación de Servicios de Consultoría en Ingeniería de Requisitos, SQA & SQC.<br>
                                Ingeniera de Sistemas – UDEA<br>
                                Especialista en Telemática – UDEA<br>
                                Magister en Alta Gerencia – UDEA<br>
                                Magister en Mercadeo Estratégico – UBA (En Proceso de Homologación en Colombia)<br>
                                Doctora en Ingeniería, Desarrollo Tecnológico, Innovación y Ubicuidad – Oxford<br>
                                Consultora Senior Internacional en Desarrollo  de Estrategias de  Ciencia, Tecnología e Innovación en entornos Corporativos Empresariales y de Negocio, Certificada por BAIN & Company.<br>
                                Certificación Internacional como Expert Trainer en: COBIT – ITIL – PMP – ISO 27001 – ISO 20000<br>
                                ​msilva@uco.edu.co<br>
                                569 90 90 Ext. 695<br>
                                CVLAC<br>
                                2021<br>
                            </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
    </section>
  </main>
  <footer class="text-center text-white">
    <div class="text-center p-3">
        <p >© 2021 Copyright: ArquiSW</p>
    </div>
  </footer>
  
