main {
  min-height: 81.9vh;
}

div h1
{
  color: var(--just-white);
  font-size: 3.5rem;
  border-bottom: 1px solid var(--just-white);
}

.nav-link {
  color: var(--just-white)
}

.left-navbar a.active-link {
  color: var(--uco-green-light);
}

.left-navbar {
  background-color: var(--background-darker-color);
  min-height: 81.9vh;
}
