.header-content
{
  background-image: url('../../../../../assets/images/Fondo.png');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;
}

.no-process-started-message p {
  color: var(--just-white);
  font-size: 1.6rem;
  margin: 15px;
}

.phases {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phases-container {
  max-width: 700px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-fase {
  width: 100%;
}

.row {
  margin-bottom: 15px;
}

