<section class="users_section">
  <h1>Usuarios postulados al proyecto {{proyecto?.nombre}}</h1>
  <p *ngIf="!hayUsuariosPostulados">No hay usuarios postulados a este proyecto actualmente...</p>
  <div class="table-responsive" *ngIf="hayUsuariosPostulados">
    <table class="table align-middle table-striped">
      <thead>
        <tr>
          <th class="table-title" scope="col">Nombre</th>
          <th class="table-title" scope="col">Correo Electronico</th>
          <th class="table-title" scope="col">Roles Elegidos</th>
          <th class="table-title" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postulacion of postulacionesResumen | paginate : { itemsPerPage: 10, currentPage: p }; let i = index ">
          <td class="table-body align-middle mark">{{postulacion?.nombreDelUsuario}}</td>
          <td class="table-body align-middle mark">{{postulacion?.correoDelUsuario}}</td>
          <td class="table-body align-middle mark">
            <p *ngFor="let rol of postulacion?.roles">{{obtenerNombreDelRol(rol)}}</p>
          </td>
          <td class="table-body align-middle mark">
            <button (click)="abrirPerfilUsuario(postulacion?.usuarioID)"
              class="btn btn-watch-profile btn-success mt-3">Ver Perfil</button>
            <button (click)="seleccionarUsuario(postulacion?.id)"
              class="btn btn-select-user btn-success mt-3">Seleccionar</button>
            <button class="btn btn-success mt-3" data-bs-toggle="modal"
              [attr.data-bs-target]="'#'+ obtenerIdModalRechazo(postulacion?.id)">
              Rechazar

              <div *ngIf="estaCargandoDeclinar[i]" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>

            </button>
            <app-modal-rechazo
              [modalIdRechazo]="obtenerIdModalRechazo(postulacion?.id)"
              [titulo]="'postulación del usuario ' + postulacion?.nombreDelUsuario"
              (confirmacion)="onDeclineSelect($event, postulacion?.id,i)">
              ></app-modal-rechazo>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      class="my-pagination"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</section>
<div class="modal fade" id="select" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar Usuario</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
          (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
          <label class="titulo mb-3" for="dropdown"> Rol(es) que desempeñara el usuario</label>
          <ng-multiselect-dropdown
          id="dropdown"
          [placeholder]="''"
          [settings]="dropdownSettings"
          [data]="rolesDisponibles"
          [(ngModel)]="rolesSeleccionados">
          </ng-multiselect-dropdown>
      </div>
      <div class="modal-footer">
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <button type="submit" class="btn btn-success mt-3"
                (click)="onClickSelect(postulacionActual?.id)">
                Seleccionar

                <div *ngIf="estaCargandoSeleccionar" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="container-fluid h-100">
          <div class="row w-100 align-items-center">
            <div class="col text-center">
              <div *ngIf="seleccionError" class="alert alert-danger" role="alert">
                {{mensajeError}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
