.header-content
{
  background-image: url('../../../../../assets/images/Fondo.png');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;
}

.retrieve-password-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.retrieve-password-form h1 {
  color: var(--just-white);
  font-size: 3rem;
  border-bottom: 1px solid var(--grey);
}

.retrieve-password-form h3 {
  color: var(--just-white);
}

.btn
{
  font-size: 1.6rem;
}

.retrieve-password {
  border-bottom: 1px solid var(--grey);
}

.retrieve-password{
  padding-top: 6px;
}

.form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control:placeholder-shown {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control {
  font-size: 1.4rem;
}

.form-floating label {
  font-size: 1.4rem;
}

.btn {
  font-size: 1.6rem;
}

input {
  background-color: var(--background-clear-color);
  color: var(--black);
  border-color: var(--black);
}

label {
  color: var(--black);
}
