.modal-body{
  font-size: 1.4rem;
  background-color: var(--just-white);
  color: var(--background-color);
}

.modal-header {
  background-color: var(--just-white);
}

.modal-title {
  font-size: 1.8rem;
  color: var(--background-color);
}

.modal-footer {
  background-color: var(--just-white);
}
