<div class="tabla">
    <h1>Proyectos aprobados por concretar</h1>
    <p *ngIf="!hayNecesidadesPorConcretar">No hay proyectos por concretar actualmente...</p>
    <table *ngIf="hayNecesidadesPorConcretar">
      <thead>
        <tr>
          <th class="table-header">Nombre</th>
          <th class="table-header">Descripción</th>
          <th class="table-header">Tipos de Consultroria</th>
          <th class="table-header">Estado de la Necesidad</th>
          <th class="table-header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let necesidad of necesidadAprobadas">
          <td>{{necesidad?.proyecto.nombre}}</td>
          <td>
            <button class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtnerIdModal(necesidad?.id)">Ver Descripción</button>
            <app-modal-descripcion
              [modalId]="obtnerIdModal(necesidad?.id)"
              [descripcion]="necesidad?.proyecto.descripcion"
              [titulo]="'Descripcion'"
            ></app-modal-descripcion>
          </td>
          <td>
            <p *ngFor="let tipoConsultoria of necesidad?.proyecto?.tiposConsultoria">{{tipoConsultoria?.nombre}}</p>
          </td>
          <td>{{necesidad?.estado.nombre}}</td>
          <td>
            <button class="btn btn-watch-project btn-success" (click)="abrirPerfilProyecto(necesidad?.id)">Ver Proyecto</button>
            <button class="btn btn-save-or-update-contract btn-success"data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtnerIdModalCarga(necesidad?.id)"
            data-bs-dismiss="modal">
            Guardar ó Actualizar contrato

            <div *ngIf="estaCargandoGuardarContrato" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
            <app-modal-cargar-pdf
              [modalId]="obtnerIdModalCarga(necesidad?.id)"
              [titulo]="'Guardar ó Actualizar contrato del proyecto'"
              [objeto]="necesidad"
              (enviarValor)="recibirUrlContrato($event, necesidad?.id)">
          </app-modal-cargar-pdf>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

