<div class="tabla">
    <h1>Proyectos aprobados por concretar</h1>
    <p *ngIf="!hayNecesidadesPorConcretar">No hay proyectos por concretar actualmente...</p>
    <table *ngIf="hayNecesidadesPorConcretar">
      <thead>
        <tr>
          <th class="table-header">Nombre</th>
          <th class="table-header">Descripción</th>
          <th class="table-header">Tipos de Consultroria</th>
          <th class="table-header">Estado de la Necesidad</th>
          <th class="table-header">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let necesidad of necesidadAprobadas">
          <td>{{necesidad?.proyecto.nombre}}</td>
          <td>
            <button class="btn btn-success">Ver Descripción</button>
          </td>
          <td>
            <p *ngFor="let tipoConsultoria of necesidad?.proyecto?.tiposConsultoria">{{tipoConsultoria?.nombre}}</p>
          </td>
          <td>
            <button class="btn btn-success" (click)="abrirPerfilProyecto(necesidad?.id)" >Ver Proyecto</button>
            <button class="btn btn-success">Aprobar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

