<section class="title">
  <h1>Mi Proyecto Actual</h1>
</section>
<section class="postulated-projects">
  <p *ngIf="!estaSeleccionado">No has sido seleccionado en ningún proyecto actualmente...</p>
  <div class="card-container" *ngIf="estaSeleccionado">
    <div class="card">
      <h4 class="card-header">{{proyectoResumen?.nombre}}</h4>
      <div class="table-responsive">
        <table class="table align-middle table-bordered">
          <thead>
            <tr>
              <th class="table-title" scope="col">Estado</th>
              <th class="table-title" scope="col">Tipos de consultoría</th>
              <th class="table-title" scope="col">Roles que desempeñó</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-body align-middle">{{proyectoResumen?.estado?.nombre}}</td>
              <td class="table-body align-middle">
                <p *ngFor="let estado of proyectoResumen?.tiposConsultoria">{{estado?.nombre}}</p>
              </td>
              <td class="table-body align-middle">
                <p *ngFor="let rol of rolesSeleccionados">{{rol}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">{{proyectoResumen?.descripcion}}</p>
        <div class="buttons-container">
          <button (click)="abrirPerfilProyecto(proyectoResumen?.id)" class="btn btn-watch-project btn-success">Ver Proyecto</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive" *ngIf="tieneProyectosFinalizados">
    <table class="table align-middle table-striped">
      <thead>
        <tr>
          <th class="table-title" scope="col">Nombre</th>
          <th class="table-title" scope="col">Descripción</th>
          <th class="table-title" scope="col">Tipos de consultoría</th>
          <th class="table-title" scope="col">Estado del proyecto</th>
          <th class="table-title" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectosResumen | paginate : { itemsPerPage: 10, currentPage: p }">
          <td class="table-body align-middle">{{proyecto?.nombre}}</td>
          <td class="table-body align-middle">
            <button type="submit" class="btn btn-success mt-3" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtenerIdModalDescripcion(proyecto?.id)"
              data-bs-dismiss="modal">Ver descripción</button>
            <app-modal-descripcion
            [modalId]="obtenerIdModalDescripcion(proyecto?.id)"
            [titulo]="'Descripción'"
            [descripcion]="proyecto?.descripcion"></app-modal-descripcion>
          </td>
          <td class="table-body align-middle">
            <p *ngFor="let tipoConsultoria of proyecto?.tiposConsultoria">{{tipoConsultoria?.nombre}}</p>
          </td>
          <td class="table-body align-middle">{{proyecto?.estado?.nombre}}</td>
          <td class="table-body align-middle">
            <button (click)="abrirPerfilProyecto(proyecto?.id)" class="btn btn-success mt-3">Ver Proyecto</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      class="my-pagination"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</section>
