p {
  font-size: 1.4rem;
}

.description {
  height: 150px;
}

.modal-header, .modal-footer {
  background-color: var(--just-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 1.8rem;
  color: var(--background-color);
}

.modal-body select, label {
  font-size: 1.4rem;
}

.modal-body{
  font-size: 1.4rem;
  background-color: var(--just-white);
  color: var(--background-color);
}

.btn
{
  font-size: 1.6rem;
  height: 35px;
  width: 100px;
  background-color: var(--uco-green);
}

.input {
  background-color: var(--background-color);
}

.form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control:placeholder-shown {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--background-clear-color);
  color: var(--black);
}

.form-control, li, .card-text {
  font-size: 1.4rem;
}

.form-floating label {
  font-size: 1.4rem;
}

input {
  background-color: var(--background-clear-color);
  color: var(--black);
  border-color: var(--black);
}

label {
  color: var(--black);
}
