.header-content {
  background-image: url('/assets/images/Fondo.png');
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.information h1 {
  color: var(--just-white);
  font-size: 5rem;
}

h2 {
  color: var(--just-white);
}

.btn {
  padding: 10px;
  font-size: 15px;
}

.container-fluid {
  justify-content: center;
}

/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  .header-content {
    height: 60vh;
  }

  .information h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color:var(--uco-green);
  color: white; 
  border: 1px solid white;
}

/* Estilos para las celdas del encabezado (thead) */
th {
  padding: 10px;
  text-align: center;
}

/* Estilos para las celdas del cuerpo (tbody) */
td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}


/* Estilos para los botones dentro de las celdas */
.ver {
  background-color: var(--background-color);
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos para los botones al pasar el mouse por encima */
button:hover {
  background-color: white;
  color: green;
}

/* Media query para tabletas */
@media (min-width: 577px) and (max-width: 1024px) {
  .header-content {
    background-size: contain;
    background-position: center top;
  }
}


