<header class="header-content">
    <section class="information">
      <h1>{{usuario?.nombre}} {{usuario?.apellidos}}</h1>
      <h2>{{usuario?.correo}}</h2>

    </section>
  </header>
  <main>
    <section class="nav-container">
      <div class="container-fluid nav">
        <button type="submit" class="btn btn-success mt-3"
        data-bs-toggle="modal" data-bs-target="#hoja" data-bs-dismiss="modal">Guardar ó Actualizar hoja de vida</button> 
        <app-modal-cargar-pdf #modalCargarPdf></app-modal-cargar-pdf>
      </div>
      <br>
    </section>
  </main>
  <footer class="text-center text-white">
    <div class="text-center p-3">
        <p >© 2021 Copyright: ArquiSW</p>
    </div>
  </footer>


