<header class="header-content">
  <section class="information">
    <h1>{{usuario?.nombre}} {{usuario?.apellidos}}</h1>
    <h2>{{usuario?.correo}}</h2>
  </section>
</header>
<main>
  <section class="nav-container">
    <div class="container-fluid nav" *ngIf="miPerfil">
      <button type="submit" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#cargarArchivo"
        data-bs-dismiss="modal">Guardar ó Actualizar Hoja de Vida</button>
      <app-modal-cargar-pdf #modalCargarPdf
      [titulo]="titulo"
      [usuario]="usuario"
      (enviarValor)="recibirUrlHojaDeVida($event)"></app-modal-cargar-pdf>
    </div>
    <br>
  </section>
  <div class="tabla" *ngIf="seCargoHojaDevida">
  <table>
    <thead>
      <tr>
        <th>Hoja de Vida</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{file.nombre}}</td>
        <td>
          <button class="btn btn-success" (click)="downloadFile()">Ver Documento</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</main>





