<div class="modal fade" id="hoja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
        <div class="form-floating mb-3">
          <input type="file" class="form-control" id="claveLogin">

        </div>
      </form>
      </div>
    </div>
  </div>
</div>
