
<div class="tabla">
  <h1>Usuarios</h1>
  <p *ngIf="!hayUsuariosAEliminar">No hay peticiones de eliminación de usuarios por revisar en estos momentos...</p>
  <table *ngIf="hayUsuariosAEliminar">
    <thead>
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">Correo Electronico</th>
        <th class="table-header">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosEliminar; let i = index">
        <td>{{usuario?.nombre}}</td>
        <td>{{usuario?.correo}}</td>
        <td>
          <button class="btn btn-success" (click)="abrirPerfil(usuario?.id)">Ver Perfil</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eliminarUsuarioModalId">
            Eliminar

            <div *ngIf="estaCargandoEliminarUsuario[i]" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>

            <app-modal-confirmacion
              [modalId]="'eliminarUsuarioModalId'"
              [titulo]="'Eliminar'"
              [descripcion]="mensajeEliminarUsuario"
              (confirmacion)="eliminarPersona(usuario?.id,i)">
            </app-modal-confirmacion>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="tabla" >
  <h1>Empresas o Asociaciones</h1>
  <p *ngIf="!hayAsociacionesAEliminar">No hay peticiones de eliminación de Empresas o Asociaciones por revisar en estos momentos...</p>
  <table *ngIf="hayAsociacionesAEliminar">
    <thead>
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">NIT</th>
        <th class="table-header">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asociacion of asociacionesEliminar; let i = index">
        <td>{{asociacion?.nombre}}</td>
        <td>{{asociacion?.nit}}</td>
        <td>
          <button class="btn btn-success" (click)="abrirPerfilAsociacion(asociacion?.id)">Ver Perfil</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eliminarAsociacionModalId">
            Eliminar

            <div *ngIf="estaCargandoEliminarAsociacion[i]" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>

            <app-modal-confirmacion
              [modalId]="'eliminarAsociacionModalId'"
              [titulo]="'Eliminar'"
              [descripcion]="mensajeEliminarAsociacion"
              (confirmacion)="eliminarAsociacion(asociacion?.id,i)">
          </app-modal-confirmacion>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="tabla">
  <h1>Proyectos</h1>
  <p *ngIf="!hayNecesidadAEliminar">No hay peticiones de eliminación de Proyectos por revisar en estos momentos...</p>
  <table *ngIf="hayNecesidadAEliminar">
    <thead>
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">Estado</th>
        <th class="table-header">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let necesidad of necesidadEliminar; let i = index">
        <td>{{necesidad?.proyecto?.nombre}}</td>
        <td>{{necesidad?.proyecto?.estado?.nombre}}</td>
        <td>
          <button class="btn btn-success" (click)="abrirPerfilProyecto(necesidad?.id)">Ver Proyecto</button>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eliminarProyectoModalId">
            Eliminar

            <div *ngIf="estaCargandoEliminarProyecto[i]" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>

            <app-modal-confirmacion
              [modalId]="'eliminarProyectoModalId'"
              [titulo]="'Eliminar'"
              [descripcion]="mensajeEliminarProyecto"
              (confirmacion)="eliminarProyecto(necesidad?.proyecto?.id,i)">
          </app-modal-confirmacion>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

