<header class="header-content">
  <section class="information container">
    <h1>{{necesidadResumen?.proyecto?.nombre}}</h1>
    <p><strong>Estado: </strong>{{necesidadResumen?.proyecto.estado.nombre}}</p>
    <p>{{necesidadResumen?.proyecto?.descripcion}}</p>
  </section>
</header>
<main>
  <section class="services-section container text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <button *ngIf="usuarioActualPuedeVerElProcesoDeIngenieriaDeRequisitos()" class="btn btn-idr btn-success mt-3" (click)="abrirIngenieriaDeRequisitos()">Ingeniería de Requisitos</button>
        </div>
        <div class="col-md-6">
          <button 
            *ngIf="usuarioActualPuedeVerElProcesoDeSQA() || usuarioActualPuedeVerElProcesoDeSQC()" 
            [disabled]="noPuedeEntrarAlProcesoSQASQC()" 
            class="btn btn-sqa btn-success mt-3" 
            (click)="abrirSQAYSQC()">
            SQA/SQC
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="team-section container">
    <h2>Miembros del equipo</h2>
    <p *ngIf="!tieneUsuariosSeleccionados">No hay usuarios seleccionados en el proyecto actualmente...</p>
    <div *ngIf="tieneUsuariosSeleccionados" class="table-responsive">
      <table class="table align-middle table-striped">
        <thead>
          <tr>
            <th class="table-title" scope="col">Nombre completo</th>
            <th class="table-title" scope="col">Rol(es) dentro del proyecto</th>
            <th class="table-title" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seleccion of seleccionesResumen | paginate : { itemsPerPage: 10, currentPage: p }">
            <td class="table-body align-middle">{{seleccion?.nombreDelUsuario}}</td>
            <td class="table-body align-middle">
              <p *ngFor="let rol of seleccion?.roles">{{obtenerNombreDelRol(rol)}}</p>
            </td>
            <td class="table-body align-middle">
              <button class="btn btn-watch-project btn-success mt-3" (click)="abrirPerfil(seleccion?.usuarioID)">Ver perfil</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        class="my-pagination"
        (pageChange)="p = $event">
      </pagination-controls>
    </div>
  </section>
  <section *ngIf="usuarioActualPuedeVerElMenuDeAprobacion()" class="services-section container text-center">
    <button *ngIf="usuarioActualPuedeVerElBotonDeAprobacionPorRolIngenieria()" class="btn btn-ingenieria btn-success mt-3" (click)="aprobarProyectoPorRolIngenieria()">
      Aprobar proyecto (ingeniería)

      <div *ngIf="estaCargandoAprobarProyectoPorRolIngenieria" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
    <button *ngIf="usuarioActualPuedeVerElBotonDeAprobacionPorRolLiderDeEquipo()" [disabled]="!usuarioActualPuedeAprobarPorRolLiderDeEquipo()" class="btn btn-lider_de_equipo btn-success mt-3" (click)="aprobarProyectoRolLiderDeEquipo()">
      Aprobar proyecto (Lider del equipo)

      <div *ngIf="estaCargandoAprobarProyectoPorRolLiderDeEquipo" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
    <button *ngIf="usuarioActualPuedeVerElBotonDeAprobacionPorRolDirectorDeProyecto()" [disabled]="!usuarioActualPuedeAprobarPorRolDirectorDeProyecto()" class="btn btn-director_de_proyecto btn-success mt-3" (click)="aprobarProyectoPorRolDirectorDeProyecto()">
      Aprobar proyecto (director de proyecto)

      <div *ngIf="estaCargandoAprobarProyectoPorRolDirectorDeProyecto" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
    <div class="container-fluid h-100">
      <div class="row w-100 align-items-center">
        <div class="col text-center">
          <div *ngIf="aprobacionError" class="alert alert-danger" role="alert">
            {{mensajeError}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="docs-section container">
    <h2>Documentos</h2>
    <div class="table-responsive">
      <table class="table align-middle table-striped">
        <thead>
          <tr>
            <th>Nombre del archivo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files" >
            <td class="table-body align-middle">{{file?.nombre}}</td>
            <td class="table-body align-middle">
              <button [disabled]="!obtenerPuedeVerArchivo(file?.nombre)" class="btn btn-success" (click)="downloadFile(file?.nombre)">Ver Documento</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
