<header class="header-content">
  <section class="information">
    <h1>Nombre del Proyecto</h1>
    <p><strong>Estado: </strong> Estado del Proyecto</p>
    <p>Descripción del Proyecto</p>
  </section>
</header>
<main>
  <section class="services-section container text-center">
    <button class="btn btn-idr btn-success mt-3">Ingeniería de Requisitos</button>
    <button class="btn btn-sqa btn-success mt-3">SQA</button>
    <button class="btn btn-sqc btn-success mt-3">SQC</button>
  </section>
  <section class="team-section">

  </section>
  <section class="docs-section">

  </section>
</main>
