.header-content
{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;
}

.information p
{
  color: var(--just-white);
  font-size: 1.8rem;
}

.services-section, .team-section {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--grey);
}

.btn
{
  font-size: 1.6rem;
  background-color: var(--uco-green);
  margin-bottom: 10px;
}

.btn-idr, .btn-sqa, .btn-ingenieria, .btn-lider_de_equipo {
  margin-right: 10px;
}

.alert {
  padding-top: 10px;
}

.table-responsive {
  max-width: 767px;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.team-section p {
  font-size: 1.4rem;
  color: var(--just-white);
}

.team-section h2, .docs-section h2 {
  font-size: 1.8rem;
  color: var(--just-white);
}

thead th {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody th {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody td {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

.table-responsive {
  padding-top: 5px;
}

.table-title {
  vertical-align: middle;
}

.table-body {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.table-body p {
  font-size: 1.4rem;
}

main {
  min-height: 54.7vh;
}
