<div class="tabla">
  <h1>Proyectos por aprobar</h1>
  <p *ngIf="!hayProyectosPorAprobar">No hay proyectos por aprobar actualmente...</p>
  <table *ngIf="hayProyectosPorAprobar">
    <thead>
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">Descripción</th>
        <th class="table-header">Tipos de Consultroria</th>
        <th class="table-header">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let necesidad of necesidadAprobar | paginate : { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{necesidad?.proyecto.nombre}}</td>
        <td>
          <button class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtnerIdModal(necesidad?.id)">Ver Descripción</button>
          <app-modal-descripcion
            [modalId]="obtnerIdModal(necesidad?.id)"
            [descripcion]="necesidad?.proyecto.descripcion"
            [titulo]="'Descripcion'"
          ></app-modal-descripcion>
        </td>
        <td>
          <p *ngFor="let tipoConsultoria of necesidad?.proyecto?.tiposConsultoria">{{tipoConsultoria?.nombre}}</p>
        </td>
        <td>
          <button class="btn btn-watch-project btn-success" (click)="abrirPerfilProyecto(necesidad?.id)">Ver Proyecto</button>
          <button class="btn btn-aprove btn-success" (click)="AprobarNecesidad(necesidad?.id, i)">
            Aprobar

            <div *ngIf="estaCargandoAprobarNecesidad[i]" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
          <button class="btn btn-decline btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtenerIdModalRechazo(necesidad?.id)">
            Declinar

            <div *ngIf="estaCargandoDeclinarNecesidad" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
          <app-modal-rechazo
            [modalIdRechazo]="obtenerIdModalRechazo(necesidad?.id)"
            [titulo]="'aprobación del proyecto ' + necesidad?.proyecto?.nombre"
            (confirmacion)="declinarNecesidad($event, necesidad?.id)">
          ></app-modal-rechazo>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf="hayProyectosPorAprobar"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    class="my-pagination"
    (pageChange)="p = $event">
  </pagination-controls>
</div>


