<div class="tabla">
  <h1>Proyectos por aprobar</h1>
  <table>
    <thead>
      <tr>
        <th class="table-header">Nombre</th>
        <th class="table-header">Descripción</th>
        <th class="table-header">Tipos de Consultroria</th>
        <th class="table-header">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let necesidad of necesidadAprobar">
        <td>{{necesidad?.proyecto.nombre}}</td>
        <td>
          <button class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtnerIdModal(necesidad?.id)">Ver Descripción</button>
          <app-modal-descripcion
            [modalId]="obtnerIdModal(necesidad?.id)"
            [descripcion]="necesidad?.proyecto.descripcion"
            [titulo]="'Descripcion'"
          ></app-modal-descripcion>
        </td>
        <td>
          <p *ngFor="let tipoConsultoria of necesidad?.proyecto?.tiposConsultoria">{{tipoConsultoria?.nombre}}</p>
        </td>
        <td>
          <button class="btn btn-success" (click)="abrirPerfilProyecto(necesidad?.id)" >Ver Perfil</button>
          <button class="btn btn-success" (click)="AprobarNecesidad(necesidad?.id)">Aprobar</button>
          <button class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#'+ obtnerIdModalRechazo(necesidad?.id)">Declinar</button>
          <app-modal-rechazo
            [modalIdRechazo]="obtnerIdModalRechazo(necesidad?.id)"
            [proyecto]="necesidad?.proyecto.nombre"
            (confirmacion)="rechazarPostulacion($event, necesidad?.id)">
          ></app-modal-rechazo>         
        </td>
      </tr>
    </tbody>
  </table>
</div> 


