@import "assets/scss/modules/var";
@import "assets/scss/modules/mixins";
@import "assets/scss/modules/utility";

@import "assets/scss/partials/reset";
@import "assets/scss/partials/grids";
@import "assets/scss/partials/global";
@import "assets/scss/partials/buttons";

:root
{
  --font-Roboto: 'Roboto', sans-serif;
  --thin: 100;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;
  --black: 900;
  --uco-green: #026f35;
  --uco-green-light:#0c8645;
  --background-color: #2A2D36;
  --background-sidebar-color: rgba(255, 255, 255, 0.15);
  --background-clear-color: #ede6db;
  --background-darker-color: #272833;
  --background-dark-color: #333333;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
