@import "assets/scss/modules/var";
@import "assets/scss/modules/mixins";
@import "assets/scss/modules/utility";

// Partials
@import "assets/scss/partials/reset";
@import "assets/scss/partials/grids";
@import "assets/scss/partials/global";
@import "assets/scss/partials/buttons";
:root
{
	--font-roboto:'Roboto', sans-serif;
  --thin: 100;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;
  --black: 900;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
   --just-white: #fff;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: var(--font-roboto);
}
