<header class="header-content">
    <app-encabezado *ngIf="true"></app-encabezado>
    <app-encabezado-sesion *ngIf="false"></app-encabezado-sesion>
    <section class="information">
      <h1>Presentación</h1>
      <p>Ingeniar, Crear e Innovar, para hacer Desarrollo Tecnológico, Transformador  y Sustentable</p>
    </section>
  </header>
  <main>
    <section class="objectives">
      <div class="container-fluid">
          <div class="row">
              <div class="custom-card col-md-6">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#problem" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Planteamiento del Problema</h5>
                        <p class="card-text">Planteamiento del Fenómeno Problemático de la Realidad que se Propone Resolver</p>
                      </div>
                  </div>
              </div>
              <div class="custom-card col-md-6">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#objectives" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Objetivos</h5>
                        <p class="card-text"> Objetivo General y Especifico</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="problem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Planteamiento del Fenómeno Problemático de la Realidad que se Propone Resolver</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Teniendo en cuenta la situación problemática abordada en el desarrollo del Proyecto de Investigación FORMULACIÓN DE LA PROPUESTA PARA LA
                  CONSTRUCCIÓN DEL LABORATORIO PARA LA INDUSTRIA (O FABRICA) DE DESARROLLO DE SOFTWARE, DE LA FACULTAD DE INGENIERÍAS DE LA UCO,
                  que consistía en que La universidad requiere desarrollos de software que se ajusten a sus necesidades y que adicionalmente existen necesidades y expectativas
                  de carácter externo tales como el desarrollo de prácticas, consultorio empresarial, procesos de innovación en procesos de desarrollo de software, articulación
                  e integración del desarrollo del proceso académico con el proceso de investigación en la formación en las disciplinas de la ingeniería, entre otros.
                  Adicionalmente Los estudiantes de Ingeniería de Sistemas tienen dificultades a la hora de entregar su trabajo de grado, por este motivo su grado se debe postergar,
                  en este momento alrededor 20 estudiantes que terminaron su plan de estudio e ingresaron en el 1 2000 están pendientes del grado. La idea es unir estás dos necesidades
                  a través de una estructura que ayude tanto a los estudiantes como a los usuarios y que permita el sostenimiento y mantenibilidad de los productos realizados. <br>
                  Siguiendo el anterior hilo conductor de la problemática esbozada, se identifica en la actualidad la necesidad urgente de poder instrumentar para su operacionalización
                  y puesta en funcionamiento la propuesta de laboratorio para la industria (o fabrica) de desarrollo de software de la FI-UCO que ya se tiene disponible desde el 2018,
                  haciéndola una realidad, en el propósito de que tanto la Institución, la FI, los Programas Adscritos a la FI, otras facultades y programas que lo requieran, estudiantes,
                  docentes, egresados y sector social y empresarial externo en general, puedan acceder a dicho laboratorio en los diferentes roles en que así lo requieran a través de la plataforma
                  virtual en la que se va a disponer de la Arquitectura de Procesos y Software, que se pretende lograr en el desarrollo de esta propuesta.
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="objectives" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Objetivos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p class="h6">Objetivo General</p>
                  <p>
                      Construir la arquitectura de soluciones de software y sus procesos, para la prestación de servicios de consultoría en ingeniería de requisitos, SQA y SQC, en el laboratorio para
                      la industria (o fabrica) de desarrollo de software, de la Facultad de Ingenierías de la UCO.
                  </p>
                  <p class="h6">Objetivos Especificos</p>
                  <p>
                      Ø Planificar complejidad, singularidad, estructuras, componentes, elementos, cualidades básicas, características, límites, de la arquitectura de procesos y de software para la prestación
                      de servicios de consultoría en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la FI-UCO. <br>
                      Ø Elaborar el diseño lógico, físico, técnico, funcional y operacional de la arquitectura de procesos y de software para la prestación de servicios de consultoría en ingeniería de requisitos,
                      SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la FI-UCO.<br>
                      Ø Implementar la arquitectura de procesos y de soluciones de software para la prestación de servicios de consultoría en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la
                      industria (o fabrica) de desarrollo de software de la FI-UCO.
                  </p>
              </div>
            </div>
          </div>
      </div>
  </section>
  <section class="methodological">
      <p class="h4 text-center">Marco Metodologico</p>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th class="table-title__methodology" scope="col">
                    <b>Metodologia: </b>Son los procedimientos generales mediante los cuales se pretende logar los objetivos de la investigacion. Se debe definir el tipo de investigacion, seleccionar el diseño de la investigacion,
                    tipo de variables, tecnicas de colecta de la informacion y precisar cuales son las tecnicas de analisis de informacion
                </th>
                <th class="table-title" scope="col">Actividades</th>
                <th class="table-title" scope="col">Resultados o Productos</th>
                <th class="table-title" scope="col">Tipo de Producto</th>
                <th class="table-title" scope="col">Fecha de Entrega</th>
                <th class="table-title" scope="col">Medio de Verificación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="table-body" scope="row" rowspan="3"><b>Fase 1.</b> Planificacion</th>
                <td class="table-body">
                    <b>Etapa 1-1</b> Actualizacion de los resultados de la indagacion prelimir sobre modelos de desarrollo SW, modelos de calidad, y herramientas de uso gratuito,que sean aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b> FI-UCO.</b> <br>
                    <b>Actividad 1-1-1:</b>  Revicion de bibliografia. <br>
                    <b>Actividad 1-1-2:</b>  Opinion de Expertos.
                </td>
                <td class="table-body">
                    Documento donde es especifica la actualizacion de los datos, informacion y conocimietno, sobre los modelos de desarrollo usandos en empresas del sector, modelos de calidad y herramientas gratuitas para apoyar el desarrollo de software.
                </td>
                <td class="table-body">Apropiación social del conocimiento.</td>
                <td class="table-body">Mes 1</td>
                <td class="table-body">
                    <b>Documentacion de revicion:</b> <br> <b> Contenido Multimedia Virtual</b> <br> Proceso definido.
                </td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 1-2</b> Planteamiento del Estilo Arquietectonico (Modelado Conceptual) de <b>PROCESOS</b> para la prestacion de servicios de consultoria en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria ( o fabrica) de desarrollo de software de la <b> FI-UCO.</b><br>
                    <b>Actividad 1-2-1:</b>  Complejidad Singular.<br>
                    <b>Actividad 1-2-2:</b>  Adaptacion e innovación.<br>
                    <b>Actividad 1-2-3:</b>  Cualidades basicas y estructuras.<br>
                    <b>Actividad 1-2-4:</b>  Componentes, elementos, caracteristicas, limites.
                </td>
                <td class="table-body">
                    Documentacion del Modelado de Estilo Arquietectonico o Modelo Conceptual de <b>PROCESOS</b>, Planteado para la prestacion de servicios de consultoria en ingeniería de requisitos, SQA  y SQC
                </td>
                <td class="table-body">Apropiacion social del conocimiento</td>
                <td class="table-body">Mes 4</td>
                <td class="table-body"><b>Modelo de revision:</b><br><b>Contenido Multimedia Virtual</b> <br>Proceso definido.</td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 1-3</b> Plantemiento del estilo Arquietectonico (Modelado Conceptual) de <b>SOLUCIONES DE SOFTWARE</b> para la prestacion de servicios de consultoria en ingeniería de requisitos SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b> FI-UCO.</b> <br>
                    <b>Actividad 1-3-1:</b>  Complejidad Singular. <br>
                    <b>Actividad 1-3-2:</b>  Adaptacion e innovación.  <br>
                    <b>Actividad 1-3-3:</b>  Cualidades basicas y estructuras.  <br>
                    <b>Actividad 1-3-4:</b>  Componentes, elementos, caracteristicas, limites.
                </td>
                <td class="table-body">Documentacion del Modelado de Estilo Arquietectonico o Modelo conceptual de SOLUCIONES DE SOFTWARE, Planteado para la prestacion de servicios de consultoria de consutoria en ingeniería de requisitos, SQA y SQC.</td>
                <td class="table-body">Apropiacion social del conocimiento</td>
                <td class="table-body">Mes 5</td>
                <td class="table-body"><b>Modelo de revision:</b><br> <b>Contenido Multimedia Virtual</b> <br> Proceso definido.</td>
              </tr>
              <tr>
                <th class="table-body" scope="row" rowspan="3">
                    <b>Fase 2.</b> Elaboracion del diseño logico, fisico ,tecnico, funcional y operacional de la arquitectura de procesos y de software para la prestacion de servicios de consultoria en ingenieria de requisitos,
                    SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b>FI-UCO</b>
                </th>
                <td class="table-body">
                    <b>Etapa 2-1</b>  Actualizacion del modelado logico,fisico,tecnico, funcional y operacional preliminar elaborado para la propuesta de entornos de dasarrollo SW, aplicables en el laboratorio de la <b> FI-UCO.</b> <br>
                    <b>Actividad 2-1-1:</b>  Revicion de Modelado Logico,Fisico, Tecnico, Funcional y operacional. <br>
                    <b>Actividad 2-1-2:</b>  Realizar ajustes correciones, adiciones.
                </td>
                <td class="table-body">Diseño de la Arquitectura de Desarrollo de SW.</td>
                <td class="table-body">Desarrollo tecnologico e innovación</td>
                <td class="table-body">Mes 7</td>
                <td class="table-body"><b>Arquitectura Definida:</b> Contenido Multimedia Virtual</td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 2-2 </b>Planteamiento del Marco Arquietectonico de <b>PROCESOS</b> para la prestacion de servicios de consultoria en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b> FI-UCO.</b><br>
                    <b>Actividad 2-2-1:</b>  Modelado del Diseño Logico de Arquitectura. <br>
                    <b>Actividad 2-2-2:</b>  Modelado de los Patrones Arquitectura (Tecnico).  <br>
                    <b>Actividad 1-2-3:</b>  Modelado de los Marcos de Diseño de la Arquitectura. (Funcional y operacional).  <br>
                    <b>Actividad 1-2-4:</b>  Modelado de los Patrones de Diseño de la Arquitectura. (Funcional y operacional).
                </td>
                <td class="table-body">Diseño de Marco Arquitectura de PROCESOS.</td>
                <td class="table-body">Desarrollo tecnologico e innovación</td>
                <td class="table-body">Mes 9</td>
                <td class="table-body"><b>Marco Arquietectonico de PROCESOS definidos:</b> Contenido Multimedia Virtual</td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 2-3</b> Plantemiento del Marco Arquietectonico de <b>SOLUCIONES DE SOFTWARE</b> para la prestacion de servicios de consultoria en ingeniería de requisitos SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b> FI-UCO.</b> <br>
                    <b>Actividad 2-3-1:</b>  Modelado del Diseño Logico de Arquitectura. <br>
                    <b>Actividad 2-3-2:</b>  Modelado de los Patrones Arquitectura (Tecnico).  <br>
                    <b>Actividad 2-2-3:</b>  Modelado de los Marcos de Diseño de la Arquitectura. (Funcional y operacional).  <br>
                    <b>Actividad 2-2-4:</b>  Modelado de los Patrones de Diseño de la Arquitectura. (Funcional y operacional).
                </td>
                <td class="table-body">Diseño de Marco Arquietectonico de SOLUCIONES DE SOFTWARE.</td>
                <td class="table-body">Desarrollo tecnologico e innovación</td>
                <td class="table-body">Mes 10</td>
                <td class="table-body"><b>Marco Arquietectonicode SOLUCIONES DE SOFTWARE definidos:</b> Contenido Multimedia Virtual</td>
              </tr>
              <tr>
                <th class="table-body" scope="row" rowspan="5">
                    <b>Fase 3.</b> Implementacion de la arquitectura de soluciones de software y sus procesos para la prestacion de servicios de consultoria
                    en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b>FI-UCO</b>
                </th>
                <td class="table-body">
                    <b>Etapa 3-1</b> Actualizacion de las guias, procedimiento de desarrollo y mantenimiento del software preliminares desarrollos para la propuesta de entornos de desarrolo SW, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b> FI-UCO.</b> <br>
                    <b>Actividad 3-1-1:</b>  Revicion de procedimientos, las guias. <br>
                    <b>Actividad 3-1-2:</b>  procedimientos de desarrollo y mantenimiento de software.
                </td>
                <td class="table-body">Guias, procedimiento y Manual de desarrollo software actualizados.</td>
                <td class="table-body">Desarrollo tecnologico e innovación</td>
                <td class="table-body">Mes 12</td>
                <td class="table-body"><b>Documentos entregados con guias, procedimientos y manuales:</b><br>Contenido Multimedia Virtual</td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 3-2</b> Desarrollo de la Arquitectura de <b>PROCESOS</b> para la prestacion de servicios de consultoria en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b> FI-UCO.</b><br>
                    <b>Actividad 3-2-1:</b>  Producir y Montar la Arquitectura de Procesos. <br>
                    <b>Actividad 3-2-2:</b>  Llevar a cabo verificacion funcional y operacional de la Arquitectura de Procesos.  <br>
                    <b>Actividad 3-2-3:</b>  Ejecutar verificacion de Desempeño, Seguridad de la Arquitectura de Procesos.  <br>
                    <b>Actividad 3-2-4:</b>  Realizar verificacion de Modificabilidad y Usabilidad, de la Arquitectura de Procesos. <br>
                    <b>Actividad 3-2-5:</b>  Realizar verificacion de los Driver o Atributos de calidad de la Arquitectura de Procesos.
                </td>
                <td class="table-body" rowspan="2">Construcion de plataforma de Software de PROCESOS Y SOLUCIONES DE SOFTWARE.</td>
                <td class="table-body" rowspan="4">Desarrollo tecnologico e innovación</td>
                <td class="table-body" rowspan="4">Mes 12</td>
                <td class="table-body" rowspan="2">
                  <b>Plataforma de SW entregada: </b><br>Proyecto de grado - ISI<br>Proyecto de grado - IIN
                </td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 3-3</b> Desarrollo de la Arquitectura de <b>SOLUCIONES DE SOFTWARE</b> para la prestacion de servicios de consultoria en ingeniería de requisitos SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b> FI-UCO.</b> <br>
                    <b>Actividad 3-3-1:</b>  Prodcuir y Montar la Arquitectura de Procesos. <br>
                    <b>Actividad 3-3-2:</b>  Llevar a cabo verificacion funcional y operacional de la Arquitectura de Procesos<br>
                    <b>Actividad 3-3-3:</b>  Ejecutar verificacion de Desempeño, Seguridad de la Arquitectura de Procesos.  <br>
                    <b>Actividad 3-3-4:</b>  Realizar verificacion de Modificabilidad y Usabilidad, de la Arquitectura de Proceso. <br>
                    <b>Actividad 3-3-5:</b>  Realizar verificacion de los Driver o Atributos de calidad de la Arquitectura de Procesos.
                </td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 3-4</b> Despliegue de la Arquitectura de <b>PROCESOS</b> para la prestacion de servicios de consultoria en ingeniería de requisitos SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b> FI-UCO.</b>
                </td>
                <td class="table-body" rowspan="2">
                    Modelado de consultoria: <br>
                    - Procesos. <br>
                    - Soluciones de Software. <br>
                    - Ingeniería de Requisitos. <br>
                    - SQA <br>
                    - SQC <br>
                    Arquiculo Cientifico
                </td>
                <td class="table-body" rowspan="2">
                    <b>Evento de lanzamiento de Modelos de consultoria: </b><br>
                    - Procesos. <br>
                    - Soluciones de Software. <br>
                    - Ingeniería de Requisitos. <br>
                    - SQA <br>
                    - SQC <br>
                    Arquiculo entregado
                </td>
              </tr>
              <tr>
                <td class="table-body">
                    <b>Etapa 3-5</b> Despliegue de la Arquitectura de <b>SOLUCIONES DE SOFTWARE</b> para la prestacion de servicios de consultoria en ingeniería de requisitos SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b> FI-UCO.</b>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </section>
  <section class="workPlan">
      <p class="h4 text-center">Plan de Trabajo</p>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Cronograma: Presentar la distribucion de las activades mencionadas en la "Metodologia", el cual debe ser coherente con la Metodologia y con la distribucion de recursos del presupuesto.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th class=".table-title" scope="col">Actividad</th>
                <th class=".table-title" scope="col">Mes 1</th>
                <th class=".table-title" scope="col">Mes 2</th>
                <th class=".table-title" scope="col">Mes 3</th>
                <th class=".table-title" scope="col">Mes 4</th>
                <th class=".table-title" scope="col">Mes 5</th>
                <th class=".table-title" scope="col">Mes 6</th>
                <th class=".table-title" scope="col">Mes 7</th>
                <th class=".table-title" scope="col">Mes 8</th>
                <th class=".table-title" scope="col">Mes 9</th>
                <th class=".table-title" scope="col">Mes 10</th>
                <th class=".table-title" scope="col">Mes 11</th>
                <th class=".table-title" scope="col">Mes 12</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><b>Fase 1.</b> Actualizacion de los resultados de la indagacion prelimir sobre modelos de desarrollo SW, modelos de calidad, y herramientas de uso gratuito,que sean aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b> FI-UCO.</b></th>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">
                    <b>Fase 2.</b> Elaboracion del diseño logico, fisico ,tecnico, funcional y operacional de la arquitectura de procesos y de software para la prestacion de servicios de consultoria en ingenieria de requisitos,
                    SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software de la <b>FI-UCO</b>
                </th>
                <td></td>
                <td></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"><b>Fase 3.</b> Implementacion de la arquitectura de soluciones de software y sus procesos para la prestacion de servicios de consultoria en ingeniería de requisitos, SQA y SQC, aplicables en el laboratorio para la industria (o fabrica) de desarrollo de software <b>FI-UCO</b></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
                <td class="table-content"></td>
              </tr>
            </tbody>
          </table>
      </div>
  </section>
  <section class="sources">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card h-100" data-bs-toggle="modal" data-bs-target="#sources" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">Referencias Bibliográficas</h5>
                        <p class="card-text">Fuentes que se han utilizado en la bibliografía</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="sources" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Referencias Bibliográficas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  - Alur, D., Crupi, J., & Malks, D. (2003). Core J2EE Patterns: Best Practices and Design Strategies (Second edition). Prentice Hall.<br>
                  - B. B. Agarwal, M. G. (2010). Software Engineering & testing: An Introduction. Canada: Jones and Bartlett Publishers, LLC.<br>
                  - Bass, L., Clements, P., & Kazman, R. (2003). Software Architecture in Practice (Second Edition ed.). Addison-Wesley.<br>
                  - Beck, K. (2000). Extreme programming explained: embrace change. Boston: Addison-Wesley Longman Publishing Co., Inc.<br>
                  - Bentley, W. (2008). Análisis de Sistemas, Diseños y Métodos (7 ed.). México: McGraw-Hill Interamericana.<br>
                  - Boehm, B. (1988). A Spiral Model of Software Development and Enhancement. IEEE Computer 21, 61-72.<br>
                  - BRAUDE, E. J. (2003). Ingeniería de Software: Una perspectiva orientada a objetos. México: ALFAOMEGA GRUPO EDITOR.<br>
                  - Bunge, M. (2004). How does it work? The search for explanatory mechanisms. Philosophy of the Social Sciences.<br>
                  - Burbeck, S. (2014). Applications Programming in Smalltalk-80(TM):. Obtenido de How to use Model-View-Controller (MVC): http://st-www.cs.illinois.edu/users/smarch/st-docs/mvc.html<br>
                  - Clements, P., & Northrop, L. (1996). Software Architecture: An Executive Overview. CMU Tech Report.<br>
                  - Coad, P., Lefebvre, E., & De Luca, J. (1999). Java Modeling In Color With UML: Enterprise Components and Process. Prentice Hall.<br>
                  - Cockburn, A. (2001). Agile Software Development. Boston, MA, U.S.A.: Addison Wesley Professional.<br>
                  - Código Civil Colombiano. (3 de Julio de 2013). Obtenido de http://200.75.47.49/senado/basedoc/codigo/codigo_civil_pr046.html#1501<br>
                  - Constantine, L., & Yourdon, E. (1975). Structured design (2 ed.). Prentice Hall.<br>
                  - Contrato. (2014). Obtenido de http://claudiaechevarria.galeon.com/cvitae1808035.html<br>
                  - DeMarco, T. (1979). Structured analysis and systems specifications. Prentice Hall.<br>
                  - ECURED. (16 de 04 de 2014). Obtenido de Conocimiento con todos y para todos: http://www.ecured.cu/index.php/Crystal<br>
                  - Fenton, N. (1995). Software quality Assurance and Measurement: a worldwide perspective. Boston, USA: International Thompson Computer Press.<br>
                  - Fisher, M. (1979). Definitions in Software Quality management. New York, USA: Petrocelli Books.<br>
                  - Fuggetta, A. (2000). Software Process: A Roadmap. 22nd International Conference on Software Engineering (ICSE’2000), future of SoftwareEngineering Track. Limerick (Irlanda): ACM.<br>
                  - Gane, C., & Sarson, T. (1977). Análisis Estructurado de Sistemas. (Quinta reimpresión. ed.). El Ateneo.<br>
                  - García, P. (2003). Calidad en el desarrollo y mantenimiento del software. Madrid: RA-MA.<br>
                  - Gonzalez, M. (19 de Julio de 2014). La letras al Derecho. Obtenido de Para conocer y negociar sus derechos de autos: http://letrasalderecho.info/derechos.html<br>
                  - Goyal, S. (2008). Agile Techniques for Project Management and Software Engineering.
              </div>
            </div>
          </div>
      </div>
    </section>
  </main>
