<header class="header-content">
  <section class="information">
    <h1>Etapa: {{etapaResumen?.nombre}}</h1>
    <p>{{obtenerEstadoDeLaEtapa(etapaResumen?.completada)}}</p>
    <p><b>Descripción:</b> {{etapaResumen?.descripcion}}</p>
  </section>
</header>
<main>
  <section class="versions">
    <h1>Gestor de Versiones</h1>
    <div class="table-responsive" *ngIf="tieneVersiones">
      <table class="table align-middle table-bordered">
        <thead>
          <tr>
            <th class="table-title" scope="col">ID</th>
            <th class="table-title" scope="col">Fecha</th>
            <th class="table-title" scope="col">¿Es la versión final?</th>
            <th class="table-title" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let version of versionesResumen| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <tr>
            <td class="table-body align-middle">{{version?.id}}</td>
            <td class="table-body align-middle">{{version?.fecha}}</td>
            <td class="table-body align-middle">{{obtenerEstadoDeLaVersion(version?.esFinal)}}</td>
            <td class="table-body align-middle">
              <button (click)="abrirRequisitos(version?.id)" class="btn btn-watch-requeriments btn-success mt-3">Ver Requisitos</button>
              <button *ngIf="puedeRechazarVersion && !version?.estaRechazada" class="btn btn-success mt-3" data-bs-toggle="modal"
                [attr.data-bs-target]="'#'+ obtenerIdModalRechazo(version?.id)">
                Rechazar Versión

                <div *ngIf="estaCargandoRechazarVersion[i]" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </button>
              <app-modal-rechazo
                [modalIdRechazo]="obtenerIdModalRechazo(version?.id)"
                [titulo]="'Version #' + version?.id"
                (confirmacion)="rechazarVersion($event, version?.id,i)">
              ></app-modal-rechazo>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls previousLabel="Anterior"
      nextLabel="Siguiente" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      <div class="container-fluid h-100">
        <div class="row w-100 align-items-center">
          <div class="col text-center">
            <div *ngIf="rechazarVersionError" class="alert alert-danger" role="alert">
              {{mensajeError}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="create-first-version text-center" *ngIf="!tieneVersiones">
      <p>No hay aun versiones de los requisitos. El o los miembros del equipo con el rol Ingeniería pueden dar inicio a la versión...</p>
      <button *ngIf="puedeIniciarPrimeraVersion" (click)="iniciarPrimeraVersion(etapaResumen?.id)" class="btn btn-success mt-3">
        Iniciar Primera Versión

        <div *ngIf="estaCargandoIniciarPrimeraVersion" class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
      <div class="container-fluid h-100">
        <div class="row w-100 align-items-center">
          <div class="col text-center">
            <div *ngIf="generarVersionInicialError" class="alert alert-danger" role="alert">
              {{mensajeError}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="approvals text-center" *ngIf="puedeAprobarEtapa">
    <button *ngIf="puedeAprobarEtapa && tieneVersiones && !etapaResumen?.completada" (click)="aprobarEtapa(etapaResumen?.id)" class="btn btn-success mt-3">
      Aprobar Etapa

      <div *ngIf="estaCargandoAprobarEtapa" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
    <div class="container-fluid h-100">
      <div class="row w-100 align-items-center">
        <div class="col text-center">
          <div *ngIf="aprobarEtapaError" class="alert alert-danger" role="alert">
            {{mensajeError}}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
