.header-content
{
  background-image: url('../../../../../assets/images/Fondo_Ingenieria_Requisitos.png');
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.information
{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  max-width: 70vw;
}

.information h1
{
  color: var(--just-white);
  font-size: 5rem;
}

.information p
{
  color: var(--just-white);
  font-size: 1.8rem;
}

.create-first-version p
{
  color: var(--just-white);
  font-size: 1.6rem;
}

.versions h1
{
  color: var(--just-white);
  font-size: 3rem;
}

.alert {
  padding-top: 10px;
}

.btn
{
  font-size: 1.6rem;
  background-color: var(--uco-green);
  margin-bottom: 10px;
}

.btn-watch-requeriments {
  margin-right: 5px;
}


.table-responsive {
  max-width: 767px;
  width: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

thead th {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody th {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

tbody td {
  font-size: 1.4rem;
  color: var(--just-white);
  background-color: var(--background-color);
}

.table-responsive {
  padding-top: 5px;
}

.table-title {
  vertical-align: middle;
}

.table-body {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
